[2015-06-03 19:31] noahmanger commented on #899
Waiting here: https://github.com/18F/openFEC-web-app/pull/235

[2015-06-03 19:40] dcpcc1967 commented on #901
1993 for presidential filings

[2015-06-03 20:27] LindsayYoung commented on #897
Yes, this is great, thank you!

[2015-06-03 20:27] #897 closed

[2015-06-03 20:30] noahmanger commented on #905
YIKES. Yes, def.

On Wed, Jun 3, 2015 at 12:28 PM, Joshua Carp <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-06-03 20:45] LindsayYoung opened #906 "empty stats display"
It would be Ideal to keep the link to the committee but not show empty lists and charts.

Example of empty committee summary information on the candidate page:
http://fec-dev-web.cf.18f.us/candidate/P00003392
![screen shot 2015-06-03 at 4 44 24 pm](https://cloud.githubusercontent.com/assets/4406333/7971017/d414e266-0a0f-11e5-822d-270641815c4b.png)

[2015-06-03 21:17] #863 closed

[2015-06-03 21:47] jmcarp opened #908 "Split assets"
We currently bundle all JS assets into a single file, likewise for CSS. But not all pages use all assets. For example, datatables is a biggish library that's only used on two pages; ditto for d3. We might want to split assets into a common bundle of things that are used on every page (jquery, typeahead), with separate bundles for other pages. Since we're using browserify, factor-bundle should be a

[2015-06-04 01:36] jmcarp opened #909 "Right end of office text cut off in typeahead"
We're missing a few pixels on the far right side of the office sought text:

![screen shot 2015-06-03 at 9 22 53 pm](https://cloud.githubusercontent.com/assets/1633460/7975001/f3ec166e-0a36-11e5-9423-b81f268870ca.png)

[2015-06-04 01:36] jmcarp commented on #909
It kind of looks like "Presideni".

[2015-06-04 13:09] jmcarp commented on #692
Fixed with updates election cycle filtering on candidate and committee pages.

[2015-06-04 13:09] #692 closed

[2015-06-04 13:15] #832 closed

[2015-06-04 15:17] rdpiazza opened #910 "Add label to Glossary link at top of page"
The explanation of the Glossary (?) icon is currently at the bottom of the home page, so people don't get a description of what the icon does until they scroll down to the bottom of the home page.  User reported that it is not intuitive that it will open the glossary until/if you read the explanation.  The (?) icon without a label could be confused for a Help link instead.  Recommend adding a labe

[2015-06-04 16:39] jmcarp commented on #773
Implemented (slightly differently) in #876.

[2015-06-04 16:39] #773 closed

[2015-06-04 16:41] jmcarp commented on #745
Can this be closed now that we have cycle filtering?

[2015-06-04 16:42] jmcarp commented on #685
We have integration tests now. They aren't complete, but they exist :smiley:

[2015-06-04 16:42] #685 closed

[2015-06-04 16:48] jmcarp commented on #639
We now have a committee history endpoint. Unauthorized committees are still included here--the only place we're filtering them out so far is in the candidate-committee linkage table. @LindsayYoung: Should we be excluding unauthorized committees, or can this be closed?

[2015-06-04 16:50] #905 closed

[2015-06-04 17:03] jmcarp commented on #728
Added in https://github.com/18F/openFEC-web-app/pull/220.

[2015-06-04 17:03] #728 closed

[2015-06-04 17:03] jmcarp commented on #797
Added in https://github.com/18F/openFEC-web-app/pull/220.

[2015-06-04 17:03] #797 closed

[2015-06-04 17:04] jmcarp commented on #617
Added in https://github.com/18F/openFEC-web-app/pull/220.

[2015-06-04 17:04] #617 closed

[2015-06-04 17:05] noahmanger opened #911 "Add warning if javascript is disabled"
The datatable filters don't work without javascript. We should either have a server side fallback or just show a warning. While we're in beta I think it's fine to show a warning.

[2015-06-04 17:05] jmcarp commented on #80
I vote we close this, and open new issues if there's still work to be done. Preferences @LindsayYoung?

[2015-06-04 17:07] jmcarp commented on #176
Added in https://github.com/18F/openFEC-web-app/pull/220.

[2015-06-04 17:07] #176 closed

[2015-06-04 17:16] jmcarp commented on #230
Added with datatables.

[2015-06-04 17:16] #230 closed

[2015-06-04 17:17] jmcarp commented on #489
Can this be closed @LindsayYoung?

[2015-06-04 17:18] jmcarp commented on #481
Closing, since the original issue seems to have been resolved, and the tools we're using to build sass have changed since it was filed.

[2015-06-04 17:18] #481 closed

[2015-06-04 17:20] jmcarp commented on #366
Travis now runs Selenium tests for the webapp using Sauce Labs. Sometimes they even pass!

[2015-06-04 17:20] #366 closed

[2015-06-04 17:20] jmcarp commented on #323
Can this be closed @LindsayYoung?

[2015-06-04 17:22] jmcarp commented on #543
Closing for now--as @LindsayYoung pointed out, we're using the columns recommended by FEC.

[2015-06-04 17:22] #543 closed

[2015-06-04 17:23] jmcarp commented on #643
Looks good on dev.

[2015-06-04 17:23] #643 closed

[2015-06-04 17:57] LindsayYoung commented on #80
sounds good.

On Thu, Jun 4, 2015 at 1:05 PM, Joshua Carp <notifications@github.com>
wrote:

[2015-06-04 17:58] #80 closed

[2015-06-04 18:00] LindsayYoung commented on #489
yes let's close #489

On Thu, Jun 4, 2015 at 1:17 PM, Joshua Carp <notifications@github.com>
wrote:

[2015-06-04 18:04] LindsayYoung commented on #323
yes

On Thu, Jun 4, 2015 at 1:20 PM, Joshua Carp <notifications@github.com>
wrote:

[2015-06-04 18:07] LindsayYoung commented on #639
We should keep them as committees but they shouldn't be used to construct
relationships in `candidate/id/committees' or 'committee/id/candidate`

On Thu, Jun 4, 2015 at 12:48 PM, Joshua Carp <notifications@github.com>
wrote:

[2015-06-04 18:07] LindsayYoung commented on #745
yes

On Thu, Jun 4, 2015 at 12:41 PM, Joshua Carp <notifications@github.com>
wrote:

[2015-06-04 18:12] #745 closed

[2015-06-04 18:12] #489 closed

[2015-06-04 18:12] #323 closed

[2015-06-05 13:13] #796 closed

[2015-06-05 15:38] #764 closed

[2015-06-05 15:39] jmcarp commented on #368
The API key for the typeahead now comes from an environment variable, and there's no more local_config file. Closing.

[2015-06-05 15:39] #368 closed

[2015-06-05 16:31] #900 closed

[2015-06-05 17:21] noahmanger commented on #848
Just realized we never resolved this. @LindsayYoung what do you recommend?

[2015-06-05 17:21] noahmanger commented on #875
Implemented https://github.com/18F/openFEC-web-app/pull/238

[2015-06-05 17:21] #875 closed

[2015-06-05 17:43] noahmanger commented on #847
So here's a couple ideas. In both cases I think it's good to show the sub-sub-totals in the same row as the sub-total, rather than having an extra layer of collapse.

The one challenge I see is how to show the bar chart. In option 1, we could do it by showing the proportion each sub-sub-total constitutes.

![option 1](https://cloud.githubusercontent.com/assets/1696495/8011699/b5e08d84-0b6f-11e5-90

[2015-06-05 18:52] LindsayYoung commented on #848
I like the glossary option the best

[2015-06-05 18:55] LindsayYoung commented on #847
I really like the first one.

[2015-06-05 19:16] arowla opened #917 "Principal committee link not showing"
It's broken for Obama in dev:

/candidate/P80003338

[2015-06-05 19:44] arowla opened #918 "Main search box type is not contextual"
This is just IMHO, but it's confusing when you click on "Committees" and the main (upper right) search box is still set to "Candidates". This probably merits a quick discussion to see if others agree.

[2015-06-05 19:54] jmcarp commented on #918
Definitely agree.

[2015-06-05 20:07] LindsayYoung commented on #918
Smart idea

[2015-06-05 20:27] noahmanger commented on #918
Oh great catch.

[2015-06-05 20:55] #839 closed

[2015-06-05 20:57] jmcarp commented on #899
18F/openFEC-web-app#235 is merged and deployed to develop. Closing.

[2015-06-05 20:57] #899 closed

[2015-06-05 20:57] jmcarp commented on #869
18F/openFEC-web-app#231 is merged.

[2015-06-05 20:57] #869 closed

[2015-06-05 20:58] jmcarp commented on #639
Sounds like this is working as expected.

[2015-06-05 20:58] #639 closed

[2015-06-05 21:00] jmcarp commented on #488
Most resources now set a default sort order, typically descending by date.

[2015-06-05 21:00] #488 closed

[2015-06-05 21:37] noahmanger opened #920 "Make "/" set focus on search input"
I love this feature on GitHub and Gmail. It takes too many tabs to get to the search box so we should allow "/".

[2015-06-05 23:05] noahmanger commented on #847
First one will require tweaking the chart js. @msecret what do you think?

[2015-06-08 16:53] #895 closed

[2015-06-08 16:54] #896 closed

[2015-06-08 18:53] rdpiazza opened #925 "Update title on API page"
API page currently has "Swagger UI" as the page title displayed in the browser history.  Update to something meaningful for openFEC.

[2015-06-08 19:34] #925 closed

[2015-06-08 20:02] LindsayYoung commented on #917
It seems like it is broken everywhere

[2015-06-08 20:57] #917 closed

[2015-06-08 23:26] #918 closed

[2015-06-08 23:37] #865 closed

[2015-06-09 00:30] #920 closed

[2015-06-09 13:37] jmcarp commented on #463
Is this still an issue?

[2015-06-09 13:38] #457 closed

[2015-06-09 14:11] jmcarp commented on #854
Looks like we have a few different options here.

* Postgres full-text search allows the use of custom synonym dictionaries, which could help with nicknames (liz => elizabeth, betsy => elizabeth, bob => robert).
* For a small number of idiosyncratic nicknames (John Ellis => Jeb), we could use the approach we're taking with PACronyms: make a table of name mappings, and join them to the candidate fu

[2015-06-09 14:24] arowla commented on #854
If we want to go the route of having a list of idiosyncratic nicknames-- which I think would be a good option in concert with perhaps some fuzzy matching in postgres, like levenshtein distance or soundex-- there are a couple lists of nickname mappings that I/we developed at Sunlight in response to data from the FEC:

https://github.com/sunlightlabs/name-cleaver/blob/master/name_cleaver/nicknames.p

[2015-06-09 14:43] jmcarp commented on #854
Great! So adding a synonym dictionary based on `nicknames.txt` might be a good place to start.

For similarity measures, I get the impression that different methods (soundex, trigram, etc.) have different performance characteristics and handle different use cases better or worse--this would probably require some experimentation to make a good choice.

[2015-06-09 15:04] LindsayYoung commented on #463
It works

http://fec-dev-api.cf.18f.us/v1/committees?type=P

[2015-06-09 15:04] #463 closed

[2015-06-09 15:05] LindsayYoung commented on #898
I can add back in the subtotals.

[2015-06-09 15:13] arowla commented on #463
It works on the nested endpoint but only with `committee_type`, not `type`

https://fec-dev-api.cf.18f.us/v1/candidate/P80003338/committees?committee_type=P

On Tue, Jun 9, 2015 at 11:04 AM, Lindsay Young <notifications@github.com>
wrote:

--
Alison Rowland
Technical Lead, https://fbopen.gsa.gov | 18F
202-317-0124

[2015-06-09 15:32] jmcarp commented on #463
It doesn't look like *any* resource responds to a query parameter called `type`. The `CommitteeList` resource checks `committee_type`, regardless of the endpoint it's mounted at. If that's not the desired behavior, we can rename the `"committee_type"` key in `args#committee` to `"type"`, although that might be confusing, since there's also an `"organization_type"` key in the same args dictionary.

[2015-06-09 15:33] noahmanger commented on #854
Not sure if this is covered with fuzzy matching, but it's also important to account for common misspellings (e.g. "hilary" with one L).

[2015-06-09 15:47] LindsayYoung commented on #854
I like where this is headed! Adding nicknames is a great idea and I don't have a preference to which kind of fuzzy matching, as long as we have something.

[2015-06-09 15:47] LindsayYoung opened #931 "Social media tags"
So it looks pretty when users share the new site on social media.

[2015-06-09 16:11] LindsayYoung commented on #463
This was referring to committee type. (Which Alison wrote the proper query for) it was just called type at one point, but that was confusing so now we call it committee_type.

[2015-06-09 16:32] arowla commented on #463
And I mentioned 'type' because that was the parameter @lindsaynyoung's
query used. ;)
On Jun 9, 2015 12:11 PM, "Lindsay Young" <notifications@github.com> wrote:

[2015-06-09 16:48] arowla commented on #854
One thing we'll need to find out is whether we can add custom dictionaries
in RDS.
On Jun 9, 2015 11:47 AM, "Lindsay Young" <notifications@github.com> wrote:

[2015-06-09 16:58] jmcarp opened #932 "To help more users access the API , build API clients with swagger-codegen"
Since we have Swagger markup for our API, we get API clients in many languages for free through https://github.com/swagger-api/swagger-codegen. Minimally, I think we should roll out clients for python 2/3. These can be released to the PyPI after the public release.

[2015-06-09 17:16] jmcarp opened #934 "Can't reopen modal nav after closing"
Steps to replicate:

* Open the webapp on a small screen
* Open the navigation modal
* Click "Close menu"
* Try to open the modal again
* You can't!

I'll take a look at this one.

[2015-06-09 18:02] jmcarp commented on #369
Pinging @arowla & @LindsayYoung for updates.

[2015-06-09 18:03] jmcarp commented on #441
Pinging @arowla and @LindsayYoung for update.

[2015-06-09 18:05] jmcarp commented on #840
This looks similar to (and maybe the same as) #496. Can we close one issue in favor of the other? Are we ready to start work on this? Ping @arowla @LindsayYoung.

[2015-06-09 18:22] noahmanger commented on #931
I'll work on the code. @jenniferthibault is on the images. @emileighoutlaw I'll probably want help on text here soon.

[2015-06-09 18:29] LindsayYoung opened #935 "Create a new snapshot for dev and staging"
golden gate dev doesn't have the updated information

[2015-06-09 18:37] LindsayYoung opened #936 "point dev api back at the dev db"
So dev and production are separate again.

Dependent on #935

[2015-06-09 18:43] arowla commented on #441
This has been taken care of.

[2015-06-09 18:43] #441 closed

[2015-06-09 18:44] #369 closed

[2015-06-09 18:47] noahmanger commented on #931
So we need a description tag. How does this work:

```OpenFEC is the Federal Election Commission's new app for exploring federal campaign finance data. Use OpenFEC to see how much money candidates raised and how they raised it; how much they spent and how they spent it; and more.```

Should we mention it's in beta?

[2015-06-09 18:47] LindsayYoung opened #937 "Add back in subtotals for Reports"
People thought the data was wrong because it did not have all the fields.

These will be "accordianed" in #898

[2015-06-09 18:48] LindsayYoung commented on #898
I am, breaking the adding totals part into a separate issue.

accordion work depends on
depends on #937

[2015-06-09 18:51] LindsayYoung opened #938 "Create summary endpoint for ie only spenders"
This will get rid of the remaining missing summary data.

This is pretty straight forward use of `factindpexpcontb_f5`

[2015-06-09 18:54] LindsayYoung opened #939 "Show summaries for IE only spenders"
Use the IE totals endpoint for that info, and displayed independent expenditures, so we wouldn't have any missing summary data .

To see what we need to display look at  C90008673 in http://www.fec.gov/fecviewer/CandidateCommitteeDetail.do

dependency #938 build IE totals endpoint

[2015-06-09 18:56] noahmanger opened #940 "To allow users coming from Google to begin searching immediately, implement Google Sitelinks Search Box"
This would allow users to search OpenFEC directly from Google search results: https://developers.google.com/structured-data/slsb-overview

[2015-06-09 19:31] jmcarp opened #942 "Document deployment workflow"
I'd like to agree on and document our branching workflow for clarity, and to validate our continuous deployment logic. I've written up the workflow that (I think--correct me if I'm wrong!) is implied by @arowla's latest work on  #783. If I'm describing everything correctly and nobody wants to make changes, we can merge #783 and add this to the README. I would definitely like to clarify exactly how

[2015-06-09 20:01] LindsayYoung commented on #837
need View from Paul

[2015-06-09 20:04] LindsayYoung opened #943 "To help users find the most relevant results, develop a better method of weighting search and typeahead results"
Improve search

[2015-06-09 20:09] leahbannon opened #944 "Blog post"

[2015-06-09 20:09] leahbannon opened #945 "Coordinate launch with FEC press office"
Coordinate on...

- [ ] list of journalists we're planning to reach out to
- [ ] events/groups to speak at?
- [ ] rollout timing

[2015-06-09 20:13] arowla commented on #936
I just checked and this seems to already be the case..?

[2015-06-09 20:20] leahbannon opened #946 "Ethnio"

[2015-06-09 20:21] leahbannon commented on #946
- write questions for pop up
- ensure this is cleared as part of our ATO
- embed javascript

[2015-06-09 20:24] arowla commented on #840
Agree this looks like a duplicate of #496. @LindsayYoung ?

[2015-06-09 20:30] jmcarp commented on #943
Search results aren't sorted alphabetically now: they're ordered by text similarity rank (`ts_rank_cd`) with the input query. Based on conversation earlier today, maybe what we're looking for is a combined weighting by text similarity and some index of importance--maybe total funds raised or something similar.

[2015-06-09 20:33] jmcarp commented on #936
Yep, the dev API should have switched back to the dev RDS with the merge of blue-green deploys. Going forward, `SQLA_CONN` is set through CF user-provided services and can be updated with `cf uups -p '{"SQLA_CONN": "..."}'`.

[2015-06-09 20:33] LindsayYoung commented on #943
That it looks alphabetical on the web app

http://fec-dev-web.cf.18f.us/?search_type=committees&search=dccc

http://fec-dev-web.cf.18f.us/?search_type=committees&search=republican

[2015-06-09 20:37] jmcarp commented on #943
Oh, I was looking at typeahead search. If the ordering of the typeahead results is correct (or correct enough), it would be really easy to make the `search_type` results use the same order.

[2015-06-09 21:45] LindsayYoung commented on #840
agreed

[2015-06-09 21:45] #840 closed

[2015-06-09 21:49] LindsayYoung commented on #942
Thank you for documenting this!

[2015-06-09 21:51] jmcarp commented on #942
This still needs work--comments appreciated!

[2015-06-09 21:53] jenniferthibault opened #947 "Glossary feature example doesn't work on the home page"
The example term for "Need Help Understanding These Terms" that shows how the glossary feature works is "principal campaign committee," but when you click it, there is no definition listed. Either provide a definition for this term, or choose a different term with an existing definition as the example.

[2015-06-09 21:55] jmcarp commented on #943
After a bit of digging into this, it actually looks like our sorting on full-text columns has been kind of random all along. Our text vectors and queries are simple enough that text similarity values are mostly small integers that effectively count up the number of times the query tokens occur in the vector (example below). That means that searching for a query like "republican" more or less retur

[2015-06-09 21:57] LindsayYoung commented on #931
Please mention that it is a beta.

For now, we might want to say something like:

OpenFEC is the Federal Election Commission's new app for exploring federal campaign finance data. Use OpenFEC to see how much money candidates raise and spend on elections; and more.

We don't have the "how they raised it" and the "how they spent it" yet, that will be schedule A and schedule B, respectively.

[2015-06-09 22:00] jenniferthibault commented on #931
4 options: these are the sizes for twitter, but I have large FB sizes ready too.

Aesthetically, I like the two options that rely on the OpenFEC logo best, BUT I think the other two that do not rely on this logo might be more future-proof if we decide to un-brand the page when it migrates into the FEC site proper later on.

Option 1
![twitter copy 2](https://cloud.githubusercontent.com/assets/1163

[2015-06-09 22:03] noahmanger commented on #931
Oh nice. Yeah I think I'm with you. I like the idea of the candidate and committee icons, but still not happy enough with the icons themselves to think they work. Also, should we put a little "beta" bug on here somewhere? Like in the corner?

I think that something with the graphs might work. But probably would just want to do bars without all the other numbers, which you can't read.

[2015-06-09 22:04] LindsayYoung commented on #936
Ok, we are asking the FEC is still testing on dev, and the dev db doesn't have all the data. We need to get #935 done quickly if we can.

[2015-06-09 22:08] onezerojeremy commented on #946
Thanks for starting this, Leah! Here's the link to details on placing the JS, which @msecret mentioned he might be able to help us out on.
http://help.ethn.io/hc/en-us/articles/200202455-Placing-Ethnio-Javascript-The-Details

Not sure how to check on the ATO side of things, Can you handle or assign that part @leahbannon ?

I'll work with Noah and Andrew on a couple simple questions.

[2015-06-09 22:08] LindsayYoung commented on #943
I would think money first, to make the big players easier to find, and then recency.

[2015-06-09 22:17] noahmanger commented on #931
This is ugly but an idea?

![twitter copy](https://cloud.githubusercontent.com/assets/1696495/8070966/9579e4fc-0eba-11e5-8e3f-796b4f4c7665.png)

[2015-06-09 22:18] noahmanger commented on #931
Separate Q: If someone shares a candidate or committee page, should the title when shared show up as the person's name? Or stay general?

[2015-06-09 22:20] jmcarp commented on #936
All right, I'll get on #935 next.

[2015-06-09 22:20] #936 closed

[2015-06-09 22:25] LindsayYoung commented on #931
I think it should include name of candidate or committee if it is a profile page.

[2015-06-09 22:25] noahmanger commented on #943
I agree: money first, recency second...in theory. But are we looking at money in the current two year period or overall? Maybe it's a moot point, but I can imagine a scenario where the "more popular" term had a bunch of activity 10 years ago, but less now. Not sure which one we'd want to weight higher.

[2015-06-09 22:27] jenniferthibault commented on #931
I dig it @noahmanger ! I'll play around a bit with that concept tomorrow morning

[2015-06-09 22:30] noahmanger commented on #943
I imagine this as just being an issue with common words like "republican", "democrat", "america", etc. Two other ideas come to mind (and I'm getting out of my depth a bit, so pardon):
1. What if we built a table of the most popular pages, and those were elevated as a separate group of results in typeahead?
2. There might be an intermediate, MVP-type step where we just hand curate a list of the top

[2015-06-09 22:31] LindsayYoung commented on #943
I think the most popular searches are going to be about things in the news
 - Candidates
 - High-profile big spending groups
 - New committees, more so now at this early stage, when people first announce. (Ironically there is nothing interesting there yet)

Do we have a doc of things we want to validate with usability testing? Because, I would like user feedback on this.

[2015-06-09 22:33] LindsayYoung commented on #943
@noahmanger I think money raised or spent would be a good proxy for a hand-curated list of well known groups.

[2015-06-09 22:34] noahmanger commented on #943
Agreed. This sounds like a great thing to test with a prototype. I'll start a doc. Also, I think it'd be great to label issues where questions pop up that we want to evaluate (so I'll do that too).

[2015-06-09 23:10] #666 closed

[2015-06-09 23:34] jmcarp commented on #943
Should this be implemented now and adjusted after more research, or should we hold off entirely until getting user feedback?

[2015-06-09 23:37] LindsayYoung commented on #943
Maybe this would be an easy thing to add when we are doing #854

[2015-06-10 02:49] LindsayYoung opened #948 "to be professional looking, we should add a favicon for the API"
I think it would me nice if it had the same favicon as the web app.

[2015-06-10 13:49] rdpiazza opened #950 "Obama 2012 Transfers are "None", should have value"
Obama for America, Details Summary 2011-2012 shows "None" for 'Transfer from Affiliated Committees' and 'Transfer to Authorized Committees.' There is an FEC Glossary link to click, but none of the suggested common reasons apply in this situation. Value should be 181,700,000. The number looks good in the database.

http://fec-dev-web.cf.18f.us/committee/C00431445?cycle=2012

[2015-06-10 13:50] rdpiazza opened #951 ""Office Sought" dropdown on Candidate search page should say "President", not "Presidential""
Update the "Office Sought" dropdown on the Candidate search page to say "President", not "Presidential".

[2015-06-10 14:15] LindsayYoung commented on #950
The real problem is that the development box is pointing at incomplete data. This is fixed in production, but to see this in development we need to address #935

[2015-06-10 14:20] jmcarp commented on #950
This one looks to be a typo. I am working on #935 though :smiley:

[2015-06-10 14:23] LindsayYoung commented on #950
Ok, I have a fix for that waiting in 18F/openFEC-web-app#255

[2015-06-10 14:41] #951 closed

[2015-06-10 14:48] #937 closed

[2015-06-10 15:01] LindsayYoung commented on #898
The subtotals are back in.

[2015-06-10 15:07] LindsayYoung commented on #943
It looks like the API adding default alphabetical sorting to the search results, so they are not returned by relevance:

http://fec-dev-api.cf.18f.us/v1/committees?q=republican

[2015-06-10 15:18] jmcarp commented on #943
I was thinking the same thing, but that's not exactly what's going on. Here's what happens:

* When a `q` query param is passed, we order by text vector similarity
* Then we apply the default sort, or any other user-specified sort

What this means is that we're currently using name to break ties in text vector similarity. And because almost all matching rows are going to have the same text similar

[2015-06-10 16:02] jmcarp commented on #836
Following up on discussion in #305, let's talk through our options for handling the size of this table.

* Restrict to recent election cycles. This is simple and should give us good performance, but of course we lose most of the data. The current FEC site lets users browse donations at least back to 2000.
* Use partitioned tables. For example, we might partition on report year, election cycle, or

[2015-06-10 16:14] jenniferthibault commented on #931
A couple iterations on that concept:
I keep leaning toward a dark background in order to contrast with facebook and twitter's native design, which would be a light background color.

![twitter copy 4](https://cloud.githubusercontent.com/assets/11636908/8087577/ca57467e-0f69-11e5-876a-9742b778ae56.png)
![twitter copy 5](https://cloud.githubusercontent.com/assets/11636908/8087578/ca5745f2-0f69-11e5-

[2015-06-10 16:29] noahmanger commented on #931
Oooh yeah! I love the dark one. That's slick.

[2015-06-10 16:33] noahmanger commented on #898
To be clear, the sub-totals are in but not displaying in the nested way
like I designed, right?

On Wed, Jun 10, 2015 at 8:01 AM, Lindsay Young <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-06-10 16:34] jmcarp commented on #836
Follow-up on the "do nothing" option: we can get very fast approximate counts using an awesome hack that parses the output of `explain`. Which actually works reasonably well, and is recommended on the postgres wiki: https://wiki.postgresql.org/wiki/Count_estimate. If we require exact counts, though, I don't think "do nothing" would work.

[2015-06-10 16:38] LindsayYoung commented on #898
Correct, that is what this issue is for.

[2015-06-10 16:45] LindsayYoung commented on #836
I think that that most searches will be tied to a particular committee, form, looking for a particular donor, or looking for the most recent records.

[2015-06-10 16:46] noahmanger commented on #948
:+1: @jenniferthibault is going to redesign the web app favicon, so we can drop that in to the API when it's done.

[2015-06-10 16:53] jmcarp commented on #950
Lindsay's patch has been merged. Closing.

[2015-06-10 16:53] #950 closed

[2015-06-10 17:02] noahmanger commented on #836
It sounds like it might be helpful to test this on a smaller scale with users to see what they need. From user research, I think we know there's a few discrete needs:
- Search across all contributions to all committees by particular fields like: name, employer, occupation, location
- Search within a committees receipts to find contributions by particular fields
- See all contributions received by

[2015-06-10 17:08] noahmanger commented on #836
Also, maybe it'd be good to mock up some of the interactions we're hoping for just to make sure we're on the same page?

[2015-06-10 17:10] arowla commented on #942
This looks good to me! I think that we should have some sort of QA process on staging. We should check all the features that were slated to be released, as well as each type of "entity" page and that features such as typeahead work.

[2015-06-10 17:11] arowla commented on #942
To that end ^^ we might want to figure out how to roll up a Changelog for each release...

[2015-06-10 17:16] jmcarp commented on #942
Ok, I'm going to write this up with a little more detail and add to the docs. Then I'll merge the related PRs from @arowla and we'll have a flawless CD workflow.

[2015-06-10 17:18] arowla commented on #942
Looking forward to the flawlessness.

[2015-06-10 17:20] LindsayYoung commented on #836
Mock up sound great!

Back to your points before:

 - Search across all contributions to all committees by particular fields like: name, employer, occupation, location
     - This could be limited to searching one cycle at a time
 - Search within a committees receipts to find contributions by particular fields
    - Receipts are schedule B - that will be a different endpoint
 - See all contributio

[2015-06-10 17:22] noahmanger commented on #836
(My second point was worded weird: I mean the contributions received by a committee, so Schedule A).

[2015-06-10 17:23] jmcarp commented on #836
I'm never going to say no to a mockup.

That said, though, this discussion is already helpful for thinking about technical issues. @arowla can correct me if I'm wrong on this, but it sounds like partitioning might not be flexible enough for these use cases--it's going to be pretty hard (probably impossible) to design partitions such that we're not often querying a large number or all of them at on

[2015-06-10 17:24] noahmanger commented on #836
I agree that doing by cycle should probably be ok...or we'll learn that people want more! But my guess is that cycle by cycle is how this is going to work.

[2015-06-10 17:26] noahmanger commented on #836
Re: Counts, that means counting the number of results a query returns? I bet approx counts are cool, especially if it's just for large sets (did you mean >1000?)

[2015-06-10 17:27] LindsayYoung commented on #836
I think that approximate counts for large queries are fine with me, as long as that behavior is clear to the user. :+1:

[2015-06-10 17:29] LindsayYoung commented on #836
A precise count isn't super useful from a reporting standpoint since it does not the number of donors. And if I was doing a story and needed that figure, I would round it anyway.

[2015-06-10 17:32] LindsayYoung commented on #942
I have never been flawless before I wonder what it will feel like.

[2015-06-10 17:34] noahmanger commented on #836
Here's the current [Individual Contributor Searchscreen](http://www.fec.gov/finance/disclosure/advindsea.shtml):

![screen shot 2015-06-10 at 10 32 09 am](https://cloud.githubusercontent.com/assets/1696495/8089341/2d4522aa-0f5c-11e5-8c8b-673fe7e8ccd0.png)

I can def say we'll want to be able to have all of these fields as filters, right?

[2015-06-10 17:37] jmcarp commented on #836
Re. approximate counts: @noahmanger, yep, I was thinking about using them for queries that we think have >1000 results, although that value would need to be tuned for performance. @LindsayYoung: counts are mostly used for pagination, so for a large result set, we might wind up saying there are 1000000 pages when there are really 950000.

Also, if we're all right with forcing every query to include

[2015-06-10 17:38] emileighoutlaw commented on #836
Hi all. Popping into this conversation: Not sure what the new page will look like, but after looking at the old screenshot I noticed, "zip code" 100% should be two words. There are probably a few other grammar considerations on old page, too.

[2015-06-10 17:39] noahmanger commented on #836
One thing that could be neat would be able to filter by "Contributor Information" fields as well as by "Recipient Information" that would be not just Committee ID, but maybe the other committee fields as well. So that you could see all of the contributions a person named "Firstnamey Lastnamerson" gave to, say, PACs registered in California.

[2015-06-10 17:40] msecret commented on #911
Should this warning only appear on certain pages (such as the ones that have broken functionality)? What should the UI be for the warning?

[2015-06-10 17:47] noahmanger commented on #911
What do you think about just replicating the old IE warning we're using? It would be universal, but I think that's ok. We could keep the wording sufficiently broad, like:

OpenFEC uses Javascript to provide the best possible user experience. Please enable Javascript in your browser or visit fec.gov.

@emileighoutlaw what do you think about the language?

For an example, here's what Facebook uses:

[2015-06-10 17:55] LindsayYoung commented on #836
I like that idea, but I think we need to address a few other things first.

We are not going to be doing a good job of finding contributions by individuals across different committees just using text search. Names and addresses are going to be reported differently in the data. So, adding this feature, in my opinion, be promising more than we can deliver, since we are not delivering "Firstnamey Las

[2015-06-10 18:02] leahbannon opened #952 "read only access to PostGreSQL DB for FEC?"
From Paul: "We would like you set up a read only account on both instances, primary and staging, of the PostGreSQL DB that contain FEC data.   This should help us review data and help us more quickly understand data issues."

[2015-06-10 18:04] LindsayYoung commented on #952
@jmcarp took care of this :)

[2015-06-10 18:06] noahmanger commented on #836
To be clear, I just meant you could search by a name and see all contributions reported by committees attached to that name. So taking as a given that we can't definitively link them to the same individual.

[2015-06-10 18:07] leahbannon opened #953 "review blog post draft"
(I want to keep track of this in our pre-launch check list.)
https://docs.google.com/document/d/1P9xfQ0aysfSgqstPS32WmSTzshDBF74ZkYxsXsKDPGY/edit

People who need to review https://github.com/18F/blog-drafts/issues/205#issuecomment-110179071 (everyone is welcome to):
- [x] @LindsayYoung
- [ ] @noahmanger
- [x] @leahbannon

[2015-06-10 18:08] jmcarp commented on #911
:+1: to a universal warning. Lots of stuff is going to break without JS, and I don't want to deal with the overhead of updating per-page warnings when we add or remove JS from different pages.

[2015-06-10 18:13] kategarklavs commented on #953
Also @NoahKunin!

[2015-06-10 18:15] #952 closed

[2015-06-10 18:17] LindsayYoung commented on #836
Yea, we will never be able to say it is the same person and we shouldn't attempt to.

I just mean that if you are interested in a name it will appear as:
 - Firstnamey Lastnamerson
 - Firstnamey Lastnamerson Sr.
 - Firstnamey M Lastnamerson
 - First Lastnamerson

Personally, I wouldn't use this data to do the additional filtering that you mentioned until I trusted it to find the name I was looking

[2015-06-10 18:24] konklone commented on #946
A small note, Ethnio's docs say this:

Don't use the protocol-relative version -- use a full `https://` URL.

[2015-06-10 18:37] leahbannon commented on #946
great catch, thanks @konklone

[2015-06-10 18:54] noahmanger commented on #836
So here's a quick mock I had time to throw together:

The exact filters aren't necessarily right, but this should give you the picture. DataTables will be especially handy for these tables as I could imagine there being a _ton_ of columns, so making use of the ability to show or hide columns or nest them under collapsible rows could be nice.

![contribution filters](https://cloud.githubusercontent

[2015-06-10 18:56] noahmanger commented on #836
I think there's a lot of behavior to figure out here. E.G. does the Committee Name or ID have Typeahead (I think it should). And if you fill it, does it make the filters below inactive?

And then in general thinking about how we want to impose constraints to keep queries from getting out of control (if we need to).

[2015-06-10 18:58] LindsayYoung commented on #836
That looks really good. I think typeahead is a great idea too!

[2015-06-10 18:59] jmcarp commented on #836
I think the mockup looks great. Now we just have to figure out how to make the necessary database queries performant :smiley:

[2015-06-10 19:09] emileighoutlaw commented on #836
@noahmanger Awesome mockup! Wondering if "Filters" in "Apply filters" should be capitalized, since you have "Individual Contributions" and "Filer Contributions" capitalized on that page? I think yes.

[2015-06-10 19:12] jmcarp commented on #947
Fixed in https://github.com/18F/openFEC-web-app/pull/254.

[2015-06-10 19:12] #947 closed

[2015-06-10 19:14] #942 closed

[2015-06-10 19:38] jmcarp opened #955 "Disambiguate typeahead results for Scott Brown"
Scott Brown has run for Senate in two states, so he gets two results in the typeahead search that are difficult to disambiguate--both say "Scott Brown - Senate", modulo a middle initial. To handle cases like these, we could change the office label from "Senate" to e.g. "NH Senate". Or maybe it's too rare an edge case to worry about. Thoughts?
![screen shot 2015-06-10 at 3 34 34 pm](https://cloud.g

[2015-06-10 19:47] arowla commented on #955
I'd be in favor of changing it to "Senate - NH"

On Wed, Jun 10, 2015 at 3:38 PM, Joshua Carp <notifications@github.com>
wrote:

--
Alison Rowland
Technical Lead, https://fbopen.gsa.gov | 18F
202-317-0124

[2015-06-10 19:54] LindsayYoung commented on #955
Are we talking about changing it everywhere or just for Scott Brown?

[2015-06-10 19:58] LindsayYoung commented on #955
The more I think about it, I would rather the typeahead have more room for the name, since that is the most important part. If people don't know which choice they want they can hit enter and see the search results with full descriptions.

[2015-06-10 20:01] arowla commented on #955
I am not sure the UI is clear on that. Thinking back on it, I almost never
hit "enter"-- I always just arrow key or mouse down to the typeahead result
I want.

On Wed, Jun 10, 2015 at 3:58 PM, Lindsay Young <notifications@github.com>
wrote:

--
Alison Rowland
Technical Lead, https://fbopen.gsa.gov | 18F
202-317-0124

[2015-06-10 20:15] LindsayYoung commented on #955
It sounds like we could use some usability testing for this feature

[2015-06-10 20:22] jmcarp opened #956 "Include cycles from principal committee in candidate active cycles"
We currently compute a candidate's active election cycles from her `election_yr` values. During discussion of a related issue (see https://github.com/18F/openFEC-web-app/pull/247#issuecomment-110759148), we learned that the current FEC site computes active cycles based on filings from associated principal campaign committees. @PaulClark2 confirmed that we should be doing this for OpenFEC as well.

[2015-06-10 21:52] msecret commented on #911
https://github.com/18F/openFEC-web-app/pull/260

[2015-06-10 21:55] rdpiazza commented on #931
I like the dark one!  Looks slick, @jenniferthibault!

[2015-06-10 22:28] noahmanger opened #957 "Update URL on filter change"
With the move to asynchronous filtering, we lost the ability to save the current set of filters in the url. Would be great to get this reimplemented for launch but def not a deal breaker.

[2015-06-10 22:48] jmcarp commented on #957
Will do.

[2015-06-11 00:55] LindsayYoung opened #958 "Give correct API instructions"
It should be:
No api_key was supplied. Get one at https://api.data.gov/signup/
![screen shot 2015-06-10 at 5 53 56 pm](https://cloud.githubusercontent.com/assets/4406333/8097637/c64aad52-0f99-11e5-9869-0ef1c69b05d7.png)

[2015-06-11 16:14] LindsayYoung commented on #938
Starting to look at this while I wait on some other things

[2015-06-11 17:31] arowla commented on #942
:gem:

[2015-06-11 18:33] jmcarp commented on #935
I created new instances for dev and stage based on a snapshot taken yesterday morning, and the old dev and stage instances have been deleted.

[2015-06-11 18:33] #935 closed

[2015-06-11 18:47] jmcarp commented on #958
Done. For evidence, see https://api.open.fec.gov/v1/candidates.

[2015-06-11 18:47] #958 closed

[2015-06-11 19:41] jmcarp commented on #864
Fixed in https://github.com/18F/openFEC-web-app/pull/249.

[2015-06-11 19:41] #864 closed

[2015-06-11 20:00] LindsayYoung opened #960 "don't show date options we don't have info on in the dropdown"
Looking at the committee page.

I want to keep the data intact, but we don't want to include the 70s in the filter
http://localhost:3000/committee/C00005462?cycle=1976

[2015-06-11 20:16] LindsayYoung commented on #960
This looks like after they were turning in f3 forms

http://localhost:3000/committee/C00347583?cycle=2000

[2015-06-11 20:18] LindsayYoung commented on #960
Maybe we could create the options based on the cycles we have totals for. What do you think @jmcarp

[2015-06-11 20:20] #957 closed

[2015-06-11 23:03] #835 closed

[2015-06-12 03:19] jmcarp commented on #934
Fixed in https://github.com/18F/openFEC-web-app/pull/253.

[2015-06-12 03:19] #934 closed

[2015-06-12 03:21] jmcarp commented on #911
Merged.

[2015-06-12 03:21] #911 closed

[2015-06-12 03:22] jmcarp commented on #872
Fixed in https://github.com/18F/openFEC-web-app/pull/253.

[2015-06-12 03:22] #872 closed

[2015-06-12 03:23] jmcarp commented on #931
PR merged.

[2015-06-12 03:23] #931 closed

[2015-06-12 13:53] jmcarp commented on #960
Part of this is simple: we shouldn't show cycles before 1980 in the cycle picker, which I'll change now. Part of it is more complicated: the second committee you mentioned *does* have totals for 2000, but for some reason we're missing their F1s pre-2002, which means we get an error trying to load their committee information in the 2000 cycle. FEC does have an F1 for this committee from 1999--if we

[2015-06-12 14:42] jmcarp opened #961 "Some F1 filings in FEC Viewer but not Golden Gate"
While debugging #960, I noticed that some committees have F1 filings in FEC Viewer but not in the Golden Gate data. For example, committee C00347583 (Obama for Congress 2000) has an F1 in the viewer (http://docquery.fec.gov/pdf/562/99034733562/99034733562.pdf) but none in `dimcmteproperties` in Golden Gate (they do have two F1Z filings).

In case it helps, I'm finding similar issues for the follow

[2015-06-12 16:40] PaulClark2 commented on #961
I am out of the office until 06/16/2015.

I'm on leave and will respond to your e-mail when I return.  If you need
immediate assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei
Luo, wluo@fec.gov.

Note: This is an automated response to your message  "[openFEC] Some F1
filings in FEC Viewer but not Golden Gate (#961)" sent on 6/12/2015
10:42:40 AM.

This is the only notification you wi

[2015-06-13 20:26] LindsayYoung opened #963 "Beta banner doesn't collapse"
I click on the x and it stays open

[2015-06-13 21:31] LindsayYoung opened #964 "Hillary Clinton is showing up as running for election in 2000 and 2004"
She first ran for president in 2008-
http://fec-dev-web.cf.18f.us/candidate/P00003392

There is a F2z for Hillary for 2000 in dimcandproperties. This seems like a data error.

I will email Paul and Jeff during working hours about this.

[2015-06-15 13:27] jmcarp commented on #964
Also weird: FEC Viewer seems to have the correct F2 filings for HRC, but it doesn't seem to include any of her financial reports from 2007-2008, which *do* show up in OpenFEC.

[2015-06-15 14:03] noahmanger commented on #963
Fixed https://github.com/18F/openFEC-web-app/pull/268

[2015-06-15 14:03] #963 closed

[2015-06-15 14:40] noahmanger opened #965 "Replace multi-select"
For a number of UX reasons, we should replace the election-cycle filter multi-select with checkboxes. This will both make it more user friendly on desktop, as well as actually make it work properly on mobile (see the way iOS renders t below :cry: )

![ios simulator screen shot jun 15 2015 10 39 08 am](https://cloud.githubusercontent.com/assets/1696495/8162366/c9c7ea80-134a-11e5-8dbc-84de2076179b.p

[2015-06-15 14:41] noahmanger opened #966 "Move modal close button for mobile nav"
The mobile nav menu close button should move to the upper right. I thought it would be nice to have it at the bottom, but in practice it often ends up covered.

[2015-06-15 14:44] noahmanger opened #967 "Default to closed filters on mobile and tablet"
The filters take up too much vertical space when browsing on smaller screen sizes. I recommend defaulting to closed filters for those screens, but should still show which filters are applied even when closed.

[2015-06-15 14:45] noahmanger opened #968 "Default to closed filters on mobile and tablet"
The filters take up too much vertical space when browsing on smaller screen sizes. I recommend defaulting to closed filters for those screens, but should still show which filters are applied even when closed.

[2015-06-15 14:45] #968 closed

[2015-06-15 14:46] noahmanger commented on #968
This somehow was a duplicate of #967

[2015-06-15 15:00] jmcarp commented on #901
Fixed in #928.

[2015-06-15 15:00] #901 closed

[2015-06-15 15:33] noahmanger commented on #910
So this is something I want to do...but adding a label breaks the design. So going to spend some time today trying to figure out a solution.

[2015-06-15 16:03] jmcarp commented on #965
As far as the backend goes, I don't see any problem switching to checkboxes or radio buttons--they're going to generate the same query parameters as a multi-select.

[2015-06-15 16:26] noahmanger commented on #965
Did you want to tag-team this? I can work on the UI if you want to do the JS (I could try to figure it out, but my guess is you could do it super quick).

[2015-06-15 16:54] PaulClark2 commented on #901
I am out of the office until 06/16/2015.

I'm on leave and will respond to your e-mail when I return.  If you need
immediate assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei
Luo, wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC] better
PDF filtering  (#901)" sent on 6/15/2015 11:00:02 AM.

This is the only notification you will receive while this pe

[2015-06-15 18:05] rdpiazza opened #969 ""View Charts" button doesn't do anything if an Authorized Committee has no financial data"
1) Open a candidate page for a candidate where the Authorized Committee does not have financial data. Example on dev: H2KY02109
2) Select the View Charts button
![screen shot 2015-06-15 at 2 01 57 pm](https://cloud.githubusercontent.com/assets/10507124/8166710/81a27b86-1367-11e5-9f26-0bda95c53747.png)
3) The button text changes to Hide Charts, but no charts are displayed
![screen shot 2015-06-15 a

[2015-06-15 18:32] LindsayYoung commented on #969
Yea, I think the whole totals for none section should not be their either.

Also agree it is not a deal-breaker.

[2015-06-15 18:50] noahmanger commented on #965
Began work here: https://github.com/18F/openFEC-web-app/pull/270

[2015-06-15 19:04] LindsayYoung opened #970 "prompt should match search"
When the search defaults to committee, the prompt should ask for committee name

![screen shot 2015-06-15 at 12 02 46 pm](https://cloud.githubusercontent.com/assets/4406333/8168003/cccc945e-1356-11e5-8140-99e7b1e2358b.png)

not a deal breaker.

[2015-06-15 19:04] LindsayYoung commented on #970
wrong screen shot

[2015-06-15 19:10] jmcarp commented on #889
Based on conversations with devops, we're using an open-source library called locust for load testing, rather than blitz. See https://github.com/18F/openFEC/pull/971. I'll upload testing results after running this.

[2015-06-15 19:11] jmcarp commented on #965
Sure, I'll take a look later today.

[2015-06-15 19:16] LindsayYoung opened #972 "display total individual contributions to pac-party"
Here is an example:
http://fec-dev-web.cf.18f.us/committee/C00348540?cycle=2014

[2015-06-15 19:28] #889 closed

[2015-06-15 19:30] rdpiazza opened #973 "Text in search box references candidates on Committee page"
Related to #918.  When you click on the Committee page, the search box at the top of the page defaults to Committees (which is good!) but the text prompt in the box still reads "Enter a candidate name".  It should read "Enter a committee name"

![screen shot 2015-06-15 at 3 31 20 pm](https://cloud.githubusercontent.com/assets/10507124/8168794/7fb87846-1373-11e5-88f1-6c32f5091b3a.png)

[2015-06-15 21:05] rdpiazza commented on #973
Duplicate of #970

[2015-06-15 21:05] #973 closed

[2015-06-15 21:43] noahmanger commented on #910
Working on a few concepts here, but reluctant to spend too much more time on it considering it'll all be redone when we design the alpha site. But here goes:

## Option 1 - Search in header
![1 1](https://cloud.githubusercontent.com/assets/1696495/8171393/9feb122e-1385-11e5-97b0-bcf001b49a0b.png)

Clicking on "Search" transitions to the search bar taking over the middle of the header
![1 2](https:

[2015-06-15 22:16] noahmanger commented on #966
Addressed here: https://github.com/18F/openFEC-web-app/pull/273

[2015-06-15 22:18] noahmanger opened #976 "Redesign search box when small"
With the category select + search box + submit button, everything is way too squished on small screens:

![ios simulator screen shot jun 15 2015 6 15 36 pm](https://cloud.githubusercontent.com/assets/1696495/8172046/ba90d4ba-138a-11e5-9f74-efc4aa37245a.png)

One idea would be to actually shift it so that the select is attached to the submit button like so
![new search](https://cloud.githubusercont

[2015-06-15 22:25] #966 closed

[2015-06-15 22:43] #970 closed

[2015-06-15 22:58] jmcarp opened #977 "Fix or replace gunicorn"
Gunicorn isn't intended to serve responses to the internet. It's supposed to live behind a proxy--according to their docs, preferably nginx. We're currently serving both the API and webapp using gunicorn on its own, which makes us vulnerable to slow clients and slow loris attacks (less cute than it sounds). Possible solutions:

* Run gunicorn behind nginx
* Switch to an application container that

[2015-06-15 23:14] jmcarp opened #978 "Document caching behavior"
For performance reasons, we're now caching API responses at two points in production:
* The API Umbrella caches all responses for an hour. This means that repeated requests for the same URL to the umbrella only hit the API (approximately) once.
* The webapp caches responses from the API, also for an hour, using a least recently updated cache of configurable size (default 1000). This means that rep

[2015-06-15 23:18] LindsayYoung commented on #977
We had nginix before, would it be easy to add back?

![image](https://cloud.githubusercontent.com/assets/4406333/8172845/209e5fa4-137a-11e5-8b47-cdcbed1fd7fb.png)

[2015-06-15 23:24] jmcarp commented on #977
Was that before we were using Cloud Foundry?

There's an nginx buildpack for CF, so this should be doable--in terms of complexity, it's probably a tossup between adding the extra buildpack and switching to waitress.

[2015-06-15 23:32] LindsayYoung commented on #977
Yea, that was before cloudfoundry. I don't have a preference on how we implement it now.

[2015-06-16 00:52] jmcarp commented on #972
See https://github.com/18F/openFEC-web-app/pull/274.

[2015-06-16 00:52] #972 closed

[2015-06-16 02:13] patphongs opened #979 "Misleading Error Message for No Results"
Reproduce by:
1. Search by Candidate, type Obama
2. Select Obama, Barack H for House
![screen shot 2015-06-15 at 10 04 54 pm](https://cloud.githubusercontent.com/assets/12799132/8174441/a2770bfe-13aa-11e5-9c80-ea8b1b98d6c1.png)
3. No Results screen returns "None election cycle", which is confusing. Would expect the text to reference the selected election cycle or some alternative text.
![screen sh

[2015-06-16 13:26] jmcarp commented on #979
Thanks @patphongs for reporting! This has been fixed in https://github.com/18F/openFEC-web-app/pull/275. The fix will be deployed soon.

[2015-06-16 13:42] boblannon opened #980 "entering multiple arguments for array types yields zero results"
cause: entering multiple values in a field that the docs suggest accepts an array
expected behavior: return the union of results for each argument in the array
actual behavior: zero results returned.

example:

[code]
returns
[code]
but
[code]
returns
[code]

The issue seems to be a general one. The following also returns an empty set:
[code]

[2015-06-16 14:51] rdpiazza commented on #910
Hi @noahmanger -- Taking a look at these.  To better understand the problem we're trying to solve, can you clarify how adding the Glossary label breaks the design? Is it that there's not enough horizontal space for the label, or something else?

[2015-06-16 14:54] rdpiazza commented on #944
Sent draft to FEC on 15 June

[2015-06-16 14:57] noahmanger commented on #910
Sorry, yeah that's exactly it. It only all fits on a pretty wide display. Jennifer is helping by looking into a new icon for the glossary to see if that helps too.

[2015-06-16 14:58] boblannon opened #981 "/candidates and /candidates/search redundant?"
It seems like the `/candidates/search` endpoint returns a superset of what is returned by `/candidates` for equivalent query params. Having both is a bit confusing, especially because, on the `/committees` branch, there is no corresponding `/committees/search` endpoint.

There's nothing really *wrong* here, but symmetry and non-redundant endpoints can really help when getting to know a new API.

[2015-06-16 15:01] LindsayYoung commented on #980
I think we need to document that better, you can do multiples but you need to write them out individually:
`http://fec-dev-api.cf.18f.us/v1/candidates?candidate_status=C&candidate_status=F&office=P&cycle=2016`

[2015-06-16 15:12] LindsayYoung commented on #981
The /candidates/search provides a nested list of principal committees for each candidate. We are using it for our main search, but maybe we could give it a more intuitive name?

[2015-06-16 15:18] boblannon commented on #980
oh, i see. the documentation actually contradicts this.  when you multiple-select using the interactive documentation, it constructs

```http://fec-dev-api.cf.18f.us/v1/candidates?sort=name&candidate_status=C%2CF%2CN&per_page=20&page=1```

that's pretty standard API design, actually. with the "repeated param" approach, it's going to be difficult/counterintuitive to use the API with, for example, p

[2015-06-16 15:20] boblannon commented on #981
I guess what I'm suggesting is that there be only one endpoint, that it be `/candidates`, and that it return what `/candidates/search` currently returns

[2015-06-16 15:27] jmcarp commented on #981
Separating into two endpoints means that we can save a JOIN in `/candidates`, but this is probably an optimization we can live without. I wouldn't mind making the endpoint a few tens of milliseconds slower for the sake of a simpler API.

[2015-06-16 15:28] boblannon commented on #981
the join shouldn't be too bad if you perform it after querying the candidate table, right?

[2015-06-16 15:31] boblannon commented on #981
like

[code]

[2015-06-16 15:34] jmcarp commented on #981
Yeah, like I said, probably not a worthwhile optimization :smiley:--we save a little time, but probably not enough to justify the duplication. We're dealing with an ORM, so our code looks different but does nearly the same thing: https://github.com/18F/openFEC/blob/develop/webservices/resources/candidates.py#L75-L80.

[2015-06-16 15:35] boblannon commented on #981
gotcha.  thanks for the in-depth response!

[2015-06-16 15:35] jmcarp commented on #932
Would this be useful to you @boblannon?

[2015-06-16 15:37] boblannon commented on #980
let the record show that i feel a fool for using "actually"

[2015-06-16 15:38] LindsayYoung commented on #980
You couldn't be a fool if you tried, Bob!

[2015-06-16 15:39] LindsayYoung commented on #980
Yea, we are using Swagger so I think it should be able to handle it. I will read the docs.

[2015-06-16 15:41] boblannon commented on #932
oh yeah, possibly.  i'd be interested to see what it generates, though.  as i mentioned in #980, the interactive docs are currently generating incorrect request URLs.

[2015-06-16 15:49] boblannon commented on #980
i am told by colleagues that i'm being too prescriptive and that my django-centric worldview is clouding my sensibilities. i'll rescind my insistence on "arg1,arg2,arg3" style.

...but certainly the docs should be updated so that they don't suggest that "NY,PA,NJ" is a licit request.  I can open a separate ticket for that, if it'd help.

[2015-06-16 15:54] LindsayYoung commented on #980
I agree that we need to update documentation- I will do that today

[2015-06-16 15:58] jenniferthibault commented on #910
Since the word won't fit, and it will likely open more worm cans to refactor the header if we're launching Thursday, here would be my suggestion:

Make the icon the book icon in the menu, but everywhere else inline where a term can be defined, use the info-alt icon. That gives more clues to that it's not a help tool, but a tool that provides more info. Mocked up here:

![artboard 1](https://cloud.

[2015-06-16 16:02] rdpiazza commented on #910
I like the book.  It's less ambiguous than the (?) icon.  I think this should wait for post-launch, however, so we can get the change approved and so we aren't making any changes so close to launch.

[2015-06-16 16:07] jenniferthibault commented on #910
Who would need to approve this? I don't think it's entirely launch crucial, but also don't think it interferes with anything at the level of approval-needing, and would be easy (I think?) to incorporate.

[2015-06-16 16:12] LindsayYoung commented on #910
This isn't the kind of thing FEC has insisted on approving in the past. The things pertaining to legal definitions need legal approval. Small changes that don' t impact legal definitions are constantly changing since we need to make adjustments as we go allong.

[2015-06-16 17:56] boblannon commented on #980
wow, i was even totally wrong about python-requests, which absolutely DOES support this pattern.

[code]
[code]

[2015-06-16 19:09] noahmanger commented on #910
See a potential solution here: https://github.com/18F/openFEC-web-app/pull/277

[2015-06-16 19:30] rdpiazza commented on #910
Really like the way the glossary icon looks, but I'd like to wait until the next iteration, since there could be things we'd overlook.  For example, if we change the image on the top of the bar, we'll also need to change the text and image for "Need Help Understanding the Terms?" on the home page.  Want to limit changes this close to go time.

[2015-06-16 19:49] jmcarp commented on #910
No disagreement with delaying this, just to be cautious, but it looks like @noahmanger's patch includes those changes.

[2015-06-16 20:39] LindsayYoung opened #983 "API docs Beta warning"
We need to add a disclaimer to the API documentaion.

[2015-06-16 21:59] #983 closed

[2015-06-16 22:14] #979 closed

[2015-06-16 22:46] LindsayYoung opened #986 "Missing results in `candidate/id/committees`"
http://localhost:5000/v1/candidate/H0IL01087/committees/history

2000 is listed in "cycles"  but doesn't get its own entry

[2015-06-16 22:46] LindsayYoung commented on #979
This formats no results nicely but we need to fix the underlying data issue, I am documenting that separately in issue #986.

[2015-06-17 00:18] boblannon opened #987 "incorrect candidate metadata?"
Not sure how widespread this is, but, eg: Obama is marked as non-statutory.

[code]

The candidate master file lists him as having candidate status "C", which is what I expected.

[2015-06-17 00:24] LindsayYoung commented on #987
Looks like it is not picking up the most recent record-- looking into it now.

[2015-06-17 00:37] boblannon opened #988 "candidate count low"
comparing 2012 counts in the API (`/candidates?cycle=2012`) and in the candidate master file aka cn12.txt (where `CAND_ELECTION_YR == 2012`)

 office | CM | API
---------|------|------
 H | 2595 | 2066
S | 481 | 427
P | 438 | 423

[2015-06-17 00:41] LindsayYoung commented on #987
Ok I am looking at:
openFEC/data/sql_updates/create_candidate_history_view.sql

We are not given the date of the form in the underlying data, so I think we should use form_sk for now, as a proxy for the order they came in. I know the FEC is working on giving us dates I would like to order on receipt date.

[2015-06-17 00:46] LindsayYoung commented on #988
First thing that comes to mind is that we are taking our ballot candidates because the data quality for them is not good, but they don't appear in the website, so I did not think they appeared in the bulk data either.

[2015-06-17 00:50] boblannon commented on #987
okay, yeah, looking more broadly it seemed systemic.  looks like you found the source, though

[2015-06-17 01:05] LindsayYoung commented on #988
Ok I did find a ballot candidate in the bulk data, which leans toward my hypothesis.

I found H4UT04052 AALDERS, TIM in the 2014 file.

The problem with ballot candidates is that they never filed paperwork with the FEC so the information in the data warehouse is not very good for them. All their districts show up as 99 and there were other data quality issues along those lines.

We could add them

[2015-06-17 01:09] LindsayYoung commented on #988
This might also be an effect of #961

[2015-06-17 01:10] LindsayYoung commented on #988
Actually, it shouldn't be because that issue is about committees.

[2015-06-17 01:15] LindsayYoung commented on #980
Swagger documentation corrected

[2015-06-17 01:15] #980 closed

[2015-06-17 13:09] boblannon commented on #988
is it possible that their district might show up at "00" instead of "99"?  This table is a count of the district numbers within the candidates that are found in the bulk data and not through the API:

CAND_OFFICE_DISTRICT | count
-------------------------------------|--------
 00  |  689
 02  |  243
 01  |  242
 03  |  218
 04  |  160
 05  |  138
 07  |  114
 08  |  102
 06  |   98
 09  |   65
 13

[2015-06-17 13:27] jmcarp commented on #986
I looked into this, and the problem seems to be a missing F1 for the Obama campaign from 1999 described in #961.

[2015-06-17 13:50] jmcarp commented on #960
I'm going to close this, since the dropdown is fixed, and the data issue is documented in #961.

[2015-06-17 13:50] #960 closed

[2015-06-17 14:27] #987 closed

[2015-06-17 15:43] jmcarp commented on #977
Done for both apps.

[2015-06-17 15:43] #977 closed

[2015-06-17 16:10] LindsayYoung commented on #988
They were 99 in the tables that I was looking at, The results for them look better in the download.

[2015-06-17 16:46] noahmanger commented on #946
Where are we at on this?

[2015-06-17 17:05] LindsayYoung commented on #986
Ok I will close that since the ticket for this already exists. Thanks Josh

[2015-06-17 17:05] #986 closed

[2015-06-17 17:08] noahmanger commented on #976
Here's some concepts.

![search options](https://cloud.githubusercontent.com/assets/1696495/8213696/a16a0eee-14d8-11e5-82e4-c9542dd7573b.png)

One thing I'm considering is maybe on mobile you don't *need* an explicit blue search button because phone keyboards change the enter key to "search". But I don't know the best practices on this. Anyone else?

[2015-06-17 17:08] LindsayYoung commented on #906
Josh fixed this

[2015-06-17 17:08] #906 closed

[2015-06-17 17:09] LindsayYoung commented on #841
Josh did this

[2015-06-17 17:09] #841 closed

[2015-06-17 17:14] LindsayYoung commented on #838
We can git this information from the independent expenditure fact table and we already have access to that table.

[2015-06-17 17:14] #838 closed

[2015-06-17 17:14] LindsayYoung commented on #885
Done by Marco and Noah

[2015-06-17 17:14] #885 closed

[2015-06-17 17:15] LindsayYoung commented on #785
We solved this by removing the ballot candidates.

[2015-06-17 17:15] #785 closed

[2015-06-17 17:55] noahmanger commented on #847
@LindsayYoung we still need to implement this, don't we?

[2015-06-17 17:58] LindsayYoung commented on #847
yes, that ticket is #898

(We should close one of these tickets- I don't have a preference on which one.)

[2015-06-17 18:00] noahmanger commented on #847
Oh cool. Let's close this one. I'll move the comps over to #898.

[2015-06-17 18:00] #847 closed

[2015-06-17 18:00] noahmanger commented on #898
Here's mocks:

![option 1](https://cloud.githubusercontent.com/assets/1696495/8011699/b5e08d84-0b6f-11e5-909f-37f26ceb113e.png)

In option 2, we just show bars for each sub-sub-total but not the sub-total.

![option 2](https://cloud.githubusercontent.com/assets/1696495/8011702/c155ba7c-0b6f-11e5-8fe6-f09e81e4a55e.png)

[2015-06-17 18:53] emileighoutlaw commented on #898
@noahmanger popping in for a grammar thing: Based on the way you've got capitalization here, I think you should have "Coverage" in "Report Coverage" capitalized!

[2015-06-18 13:39] jmcarp opened #992 "Allow resources to restrict sort columns"
We currently use a very permissive sort logic--API consumers can pass any combination of columns and directions to any resource that allows sorting. As we begin to work with larger tables (especially Schedule A filings), we'll need to restrict sortable columns to prevent consumers from running expensive sorts on unindexed fields.

[2015-06-18 14:10] jmcarp opened #993 "Add integration tests for Swagger markup"
If our code generates invalid Swagger, the build should break.

[2015-06-18 18:31] LindsayYoung commented on #938
- [ ] report endpoint
 - [ ] summary endpoint

[2015-06-18 21:08] jmcarp opened #994 "Support paging by seek method"
Pagination using `OFFSET` and `LIMIT` is too slow for large tables like `sched_a` and `sched_b`. For these tables, use the seek method: find all records with some unique index greater than the last index of the previous result set. See http://use-the-index-luke.com/no-offset for details.

@noahmanger: This means pagination will be a bit different for Schedule A and B filings compared to the curren

[2015-06-18 21:09] jmcarp commented on #994
I'm working on this as part of #836.

[2015-06-19 18:05] jmcarp commented on #978
Done.

[2015-06-19 18:05] #978 closed

[2015-06-19 20:48] #993 closed

[2015-06-22 15:08] #938 closed

[2015-06-22 15:58] PaulClark2 commented on #961
We think the logic changes to CFDM that we have made in ING and will apply to PROC this week will fix this issue.

[2015-06-22 15:59] PaulClark2 commented on #964
A general comment, we should not use F2Zs to determine which elections a candidate participates in.   F2Zs are entered for a variety of reasons.  F2s, filed by the candidate, should be use to make this determination.

There's anything to fix here.  P00003392 was linked to C00342261 (People for American Leadership) a single candidate independent expenditure committee in 1999.    P00003392  was gene

[2015-06-22 19:28] noahmanger opened #999 "Show Schedule A + B data summaries on committee pages"

[2015-06-22 19:28] noahmanger opened #1000 "Implement Schedule A filters"

[2015-06-22 19:28] noahmanger opened #1001 "Implement filing tables on committee pages"

[2015-06-22 19:57] noahmanger opened #1002 "Style API Docs"
**Goal**: Clean up the API docs to make them more usable and branded.

[2015-06-22 21:53] emileighoutlaw commented on #775
PR ready for review: https://github.com/18F/openFEC/pull/1003

[2015-06-22 22:23] noahmanger commented on #965
Solved in https://github.com/18F/openFEC-web-app/pull/270

[2015-06-22 22:23] #965 closed

[2015-06-22 22:51] noahmanger commented on #999
Moving to web-app repo.

[2015-06-22 22:51] #999 closed

[2015-06-22 23:33] noahmanger commented on #519
Here's a couple concepts for this. Both of them consolidate the "Committee Type" and "Designations" dropdowns into a single fieldset, with an attempt at showing the most popular options (or what we suspect are the most popular options) by default with the rest of the options under "More" and with group labels.

Option 1 still maintains a separate field for "Organization Type", adding some helper t

[2015-06-22 23:34] noahmanger commented on #519
I'd like quick thoughts on the team and then get feedback from FEC.

[2015-06-23 14:05] jmcarp opened #1004 "Schedule B endpoint"

[2015-06-23 17:47] noahmanger commented on #519
Quick clarification: The dropdowns would actually have checkboxes in them, like they do on the site now. I just forgot to put them there :)

[2015-06-23 20:53] #265 closed

[2015-06-23 20:54] LindsayYoung commented on #939
This will be taken care of by 18F/openFEC-web-app/pull/287

[2015-06-24 13:34] jmcarp opened #1006 "Aggregate Schedule A receipts"
* [ ] By contribution size
    * Cut points?

@noahmanger which other aggregates (if any) are we going to want?

[2015-06-24 14:07] LindsayYoung commented on #1006
Amount is not necessary because that is on the summary pages.

For committees,  especially candidate committees it is good to figure out from schedule As
 -  Totals by state
 -  Totals by zipcode
 -  Totals given to other groups with FEC ids
 -  Donations by size - totaling donation in a given range, the under $200 bucket comes from unitemized summary filings.
   The FEC's map currently uses:

[2015-06-24 14:14] jmcarp commented on #1006
Amount = size. I'll revise the issue.

[2015-06-24 16:29] noahmanger commented on #1006
Great. This all makes sense to me. Though point of clarification, @LindsayYoung do you mean "Totals *received from* other groups with FEC ids"? Might we want to total those up by certain type / designation / org type? Not sure what the distinctions would be, but I could see it being helpful.

[2015-06-24 17:03] noahmanger commented on #976
Update, this one with the new option for "Contributor". I like the toggle concept here as it is one less tap than opening a menu and selecting an option.

![search toggle](https://cloud.githubusercontent.com/assets/1696495/8336288/4452a7d6-1a58-11e5-9e89-36d237fd541f.png)

[2015-06-24 17:22] LindsayYoung commented on #1006
For the website, I was thinking listing the top 10 groups that fund a committee. It is possible to then group them by type, but there are a lot of other features I think we should spend our time on first. But tell me if you have a really good use case in mind.

For, the API would want to have more detailed PAC to PAC transfer information, not just top 10.

It would be much more difficult to do top

[2015-06-24 18:12] #432 closed

[2015-06-24 23:05] noahmanger commented on #976
Aaaaand one last round. This one with a radio button option.

![search toggle](https://cloud.githubusercontent.com/assets/1696495/8343503/d844ebde-1a8a-11e5-846d-3ac9969e0df9.png)

[2015-06-24 23:42] noahmanger commented on #976
After quick gut check I think radio buttons are the way to go.

[2015-06-25 13:14] PaulClark2 commented on #519
@noahmanger Thanks for putting this together.   Let's go with Option 2.   In the "Committee Type & Designation" list we can remove "Principle Campaign Committee" and "Authorized by a Candidate."  I think most people outside the FEC don't really care about this distinction.   When a user selects "Presidential," "House" or "Senate" we should return both PCC and Other Authorized (committee designatio

[2015-06-25 20:53] noahmanger commented on #519
Ah that's a great idea to hide P and A. Is there a better label we can come up with for Separate Segregated Funds that also captures that they're PACs? Maybe something like: "Organization PACs" or "PACs Backed by Organizations"?

[2015-06-25 22:33] noahmanger commented on #519
Ok here's one that breaks out Presidential, House and Senate under "Authorized Committees" and then puts the rest under "Other Committees", with SSFs nested under PACs:

![option 1](https://cloud.githubusercontent.com/assets/1696495/8367015/775da93a-1b4f-11e5-8468-1654799d3709.png)

Considering that list is so long, though, I also tried what it's like to break it out in a more logical way:

![opti

[2015-06-26 14:09] LindsayYoung commented on #519
You don't want to use the title "Authorized Committees" for House, Senate and Presidential, because those types aren't necessarily candidate committees, they can be parties, PACs etc.

[2015-06-26 15:14] PaulClark2 commented on #519
"Authorized Committees" is probably fine.   We would not refer to a PAC or party committee as an authorized committee.  "Authorized" is a term we use internally to generically talk about both PCCs (committee types "H," "S," or "P" and committee designation "P,") and Other Authorized Committees (committee types "H," "S," or "P" and committee designation "A").  As you know, candidates are required t

[2015-06-26 15:29] PaulClark2 commented on #519
@noahmanger Again, let's go with Option #2.   The shorter lists make more sense to me.  I think nesting the SSFs under PAC makes it pretty clear SFFs are a variety of PAC.

[2015-06-26 17:50] noahmanger commented on #519
So decided :hammer: . We'll obviously be testing this with users, but this sounds like a good plan. I'll make a separate ticket for the implementation.

[2015-06-26 17:50] #519 closed

[2015-06-29 19:22] LindsayYoung opened #1013 "Figure out needs and make a plan for dates"
Filing information is here-
https://drive.google.com/open?id=14Zr1OgKY_ipmWi1uDGuvNV7R_rV8N8BVbm7Z9z-sBDY

There will be much more in an even-number year.

[2015-06-29 19:25] LindsayYoung opened #1014 "Implement filing date solutions"
dependent on #1013

[2015-06-29 19:27] leahbannon opened #1015 "spin up example CMSes"

[2015-06-29 20:21] noahmanger commented on #976
Resolved: https://github.com/18F/openFEC-web-app/pull/301

[2015-06-29 20:21] #976 closed

[2015-06-29 20:22] noahmanger commented on #645
Resolved

[2015-06-29 20:22] #645 closed

[2015-06-29 20:37] LindsayYoung opened #1016 "look at staging data"
They refreshed staging and we need to take a look see if the new style breaks anything that needs to be reworked and replacing sorting by date rather than keys would be a big improvement.

[2015-06-30 18:19] jmcarp opened #1019 "Pin requirement versions"
E.g. change `SQLAlchemy>=0.99` to `SQLAlchemy==1.0.6`. This will help prevent changes in our dependencies from causing unexpected errors in our applications.

[2015-07-01 20:54] #1019 closed

[2015-07-02 00:11] noahmanger commented on #1002
Check it out:

![screen shot 2015-07-01 at 5 11 13 pm](https://cloud.githubusercontent.com/assets/1696495/8467516/328a5f46-2014-11e5-98c9-139297bcc2fb.png)

![screen shot 2015-07-01 at 5 10 32 pm](https://cloud.githubusercontent.com/assets/1696495/8467510/1a74a416-2014-11e5-8e1b-a248bb5db9bb.png)

[2015-07-02 00:36] noahmanger commented on #1002
Also I know @emileighoutlaw had some text edits. Did those get in or not? I'm not sure where they were made.

[2015-07-02 13:37] LindsayYoung commented on #1002
Those should already be included. Thanks for making it look like we have talented designers and it belongs with the rest of the site!

[2015-07-02 13:40] emileighoutlaw commented on #1002
Yep! Made my edits last week. Feeling lucky to have had any hand in this document— it's amazing, y'all!

[2015-07-02 17:29] noahmanger commented on #1002
Nice. Ready for review https://github.com/18F/swagger-ui/pull/1

[2015-07-02 20:47] LindsayYoung commented on #1016
It looks good and did not break anything. I want to see if we have useable receipt dates for candidates for precise ordering of forms.

[2015-07-02 21:54] #1002 closed

[2015-07-06 15:41] #283 closed

[2015-07-06 15:41] #299 closed

[2015-07-06 15:41] #636 closed

[2015-07-06 17:37] emileighoutlaw commented on #944
Revised version ready for resend to FEC.

https://docs.google.com/document/d/1P9xfQ0aysfSgqstPS32WmSTzshDBF74ZkYxsXsKDPGY/edit

[2015-07-06 18:01] noahmanger opened #1025 "Figure out what information will be included in dates and dealines endpoint"
We need to determine what information will be included in the dates / deadline endpoint in order to know how to design the way it will be implemented on committee pages and the calendar.

[2015-07-06 18:20] LindsayYoung commented on #1025
Here is the data for reference:
https://docs.google.com/spreadsheets/d/14Zr1OgKY_ipmWi1uDGuvNV7R_rV8N8BVbm7Z9z-sBDY/edit#gid=0

[2015-07-06 18:31] noahmanger commented on #1025
Oh great. Thanks. Will this also include individual dates that vary by
state?

On Mon, Jul 6, 2015 at 11:20 AM, Lindsay Young <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-07-06 18:35] LindsayYoung commented on #1025
Yes, there are less of those because it is an odd-numbered year but you can see examples on the bottom of the sheet. Headers marked (internal) don't need to be shared, they are dates that filing reminders get sent out

[2015-07-06 18:37] noahmanger commented on #1013
Oops, this is a duplicate with #1025 ... closing.

[2015-07-06 18:37] #1013 closed

[2015-07-06 18:39] noahmanger commented on #1025
Oh duh. I totally missed that. Great.

On Mon, Jul 6, 2015 at 11:35 AM, Lindsay Young <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-07-06 18:45] jmcarp commented on #994
Done in #1008.

[2015-07-06 18:45] jmcarp commented on #1000
Done in #1008.

[2015-07-06 18:45] jmcarp commented on #992
Done in #1008.

[2015-07-06 19:20] LindsayYoung opened #1026 "make sure we are dealing with different year-to-date on front end"
Some committees to year-to-date and some cycle-to-date, need to make sure we are displaying accordingly on the front end and we are explaining this on the API

[2015-07-06 19:38] #837 closed

[2015-07-06 19:40] LindsayYoung commented on #1001
I will start that and pass it off to Marco or Noah

Here is what I have so far:
https://github.com/18F/openFEC-web-app/pull/306

[2015-07-06 20:52] leahbannon opened #1027 "Recruit users for next round of usability testing"

[2015-07-06 21:03] LindsayYoung opened #1028 "Filings browse view"
Like the candidates, but its own page

[2015-07-06 21:07] LindsayYoung commented on #1014
api endpoint for dates

[2015-07-06 21:17] LindsayYoung opened #1029 "Sample CMS"
- [x] Django-CMS
 - [x] Mezzanine
 - [x] Wagtail

[2015-07-06 21:18] leahbannon opened #1030 "Build election pages front end"
Build when designs in #297 are done

[2015-07-06 21:22] #836 closed

[2015-07-07 16:33] jmcarp commented on #992
Merged.

[2015-07-07 16:33] #992 closed

[2015-07-07 16:34] jmcarp commented on #994
Merged.

[2015-07-07 16:34] #994 closed

[2015-07-07 16:34] jmcarp commented on #1004
Merged.

[2015-07-07 16:34] #1004 closed

[2015-07-08 14:53] gbinal opened #1045 "set up redirect from /developer"
people will often mistake in their heads between the two.  It's a simple but helpful best practice to ensure that both `/developers` and `/developer`

[2015-07-08 15:04] LindsayYoung commented on #1045
good point!

On Wed, Jul 8, 2015 at 10:53 AM, Gray Brooks <notifications@github.com>
wrote:

[2015-07-08 16:38] gbinal opened #1048 "consider a redirect from api.open.fec.gov"
Less important than #1045, but would be a good thing to do if not hard:

Set up a redirect from `api.open.fec.gov` to `api.open.fec.gov/developers`.  The former is something some folks will try and it's worth having it redirect instead of 404ing.

[2015-07-08 16:54] jmcarp commented on #1048
Resolved in #1042--just needs to be merged into master.

[2015-07-08 17:02] #1045 closed

[2015-07-08 19:07] konklone commented on #1048
It's merged into master, but `https://api.open.fec.gov/` still doesn't redirect for me.

[2015-07-08 20:15] jmcarp commented on #1048
Thanks for keeping me honest @konklone. The fix got merged, but the auto-deploy through Travis failed, since master is still using the old stack on CF. Which reminds me that we need to get notifications on deployment success / failure.

Anyway, it's working on production now.

[2015-07-08 20:22] konklone commented on #1048
It totally is!

[2015-07-08 23:47] morninj opened #1049 "Find records by contributor name"
It would be really useful to have an API method to retrieve contribution records by donor name—i.e., a programmatic interface along the lines of https://www.opensecrets.org/indivs/

[2015-07-09 12:39] LindsayYoung commented on #1048
Thanks for fixing that, Josh!

[2015-07-09 13:09] LindsayYoung commented on #1049
Agreed! That information is found in Schedule A and will have its own endpoint with name searching capabilities soon.

Thank you for taking your time to file an issue!

[2015-07-09 13:11] #1048 closed

[2015-07-09 13:20] morninj commented on #1049
Awesome. How can I help?

I'm working on an app that needs this functionality. I'm deciding whether to load the raw data into my own database or wait for the API functionality. Do you have a rough timeframe? I'm happy to pitch in.

[2015-07-09 13:42] LindsayYoung commented on #1049
Since the app is new, I would be cautious in case there are undiscovered bugs. I would recommend going off raw data, but It would be a great opportunity to do some more checking.

We have schedule A, B and filings on our staging site, and we hope to release it soon. Some queries are still slow. If you want to check it out and give us feed back, that would be great!

Also, I have had a project to c

[2015-07-09 20:24] dmil commented on #1049
@LindsayYoung @morninj its been on my back-burner too, but I'd love to get it up and running. also willing to pitch in. congrats on launch!

[2015-07-09 20:28] patphongs commented on #1029
Django-CMS seem like a nice system. I was playing around with Django-CMS on their demo site, it seems more user friendly. The ability to switch between structure and content and also seeing the Live and Draft mode slider is nice and intuitive. This allows users to easily select a page type (full width, two columns, side bars, etc), add content by double clicking components, and rearranging the str

[2015-07-09 21:16] LindsayYoung commented on #1049
Thanks Dhrumil!

I love "OFEC Check"  and I really want to finish that, at least for the totals data- maybe I should plan it into my next sprint. I have been going at 110% and I am dying to have some extra time to work on it.

[2015-07-10 02:37] arm5077 opened #1051 "Newt Gingrich not showing up as presidential candidate in 2012"
A bit of a specific problem on which to file an issue, so my apologies, but in case it's indicative of a larger bug...

Newt Gingrich doesn't show up as a presidential candidate under this query: https://api.open.fec.gov/v1/candidates?sort=name&per_page=500&cycle=2012&office=P

I'm also not seeing him as a candidate, period: https://api.open.fec.gov/v1/candidate/P60003654

But he does show up on t

[2015-07-10 14:06] LindsayYoung commented on #1051
Thank you for reporting that! I will look into that right now.

On Thu, Jul 9, 2015 at 10:37 PM, Andrew McGill <notifications@github.com>
wrote:

[2015-07-10 14:13] LindsayYoung commented on #1051
We only have F2Z entries for him on dimcandproperties, so he is showing up
as if he was a ballot candidate and we are filtering him out.

@PaulClark2 I think we are missing some more F1s in the data warehouse, can
you check on that please?

On Fri, Jul 10, 2015 at 10:05 AM, Lindsay Young - XFB <
lindsayn.young@gsa.gov> wrote:

[2015-07-10 21:44] jmcarp opened #1053 "Route staging traffic through API Umbrella"
The staging server should behave as much as possible like the production server, so that we can be confident that a successful deploy to staging will also work as expected on production. Staging is currently deployed without using the API Umbrella; we should add a new API and route staging traffic through it.

[2015-07-10 22:06] LindsayYoung commented on #1053
That's a good point

[2015-07-11 01:50] jmcarp commented on #1053
This happened. Thanks @cmc333333 for help with configuration. We still need to get an SSL cert for staging--will do next week.

[2015-07-11 01:50] #1053 closed

[2015-07-11 03:26] morninj commented on #1049
Thanks! I searched around but couldn't find the staging site. Do you have a link?

[2015-07-13 17:36] noahmanger commented on #1000
I'm assigning this to me for now to clean up styling.

[2015-07-13 18:14] noahmanger commented on #1000
Nevermind. Unassigning myself because I think someone else should pick up the task of adding the detailed preview pane (I just don't think I have the time this sprint).

[2015-07-13 20:56] noahmanger commented on #1025
Done.

[2015-07-13 20:56] #1025 closed

[2015-07-14 21:04] LindsayYoung opened #1060 "Add api key sign-up on docs page"
@cmc333333 found this explination:

https://github.com/18F/api.data.gov/wiki/User-Manual:-Agencies#embedding-the-api-key-signup-form-on-your-own-documentation-site

[2015-07-15 15:27] LindsayYoung opened #1064 "Add a filter for memo code on schedule A"
memoed_subtotal should be a filter

[2015-07-15 15:33] LindsayYoung opened #1065 "To let users try out endpoints without knowing ids Add cand_id suggestions in documentation?"
Provide id suggestions for documentation.

From twitter https://twitter.com/chachasikes/status/621038984391593984

I am thinking we could show both Obama and Ronmey's ids for those examples. We need to check with FEC to see if they are comfortable with using real people in examples. If not, we could try mock examples with fictional people, or something.

[2015-07-15 16:02] chachasikes commented on #1065
Cool -- following this.

[2015-07-15 16:16] LindsayYoung opened #1066 "Add demo key"
I think the easiest thing to do is to make the api_key argument default to DEMO_KEY

https://github.com/18F/api.data.gov/issues/258#issuecomment-121659540

[2015-07-15 16:48] chachasikes commented on #1065
I just looked more closely at the Swagger documentation. If you can't supply the ID's (the first one I found was 'H2CA01110') then also it might be possible to make a javascript widget that gets displayed in the field documentation that shows '5 random samples' as a table that is visually distinct enough that it shows it's live data from the API.

Also possible to populate an inline piece of docum

[2015-07-15 17:00] noahmanger commented on #1065
Great ideas. I actually have a patch coming soon to make the "Try it out"
button bigger and bolder, so hopefully that helps somewhat.

On Wed, Jul 15, 2015 at 9:48 AM, Chach Sikes <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-07-15 19:17] LindsayYoung commented on #1049
Sorry for the delayed reply @morninj we now have that going on the API https://api.open.fec.gov/developers#!/schedules/get_schedules_schedule_a

Keep in mind, the project is still in beta, so there may be errors or omissions we don't know about. Please file a ticket if you notice anything amiss.

[2015-07-16 20:39] pardery opened #1070 "email and url fields?"
Hello.  Firstly, thank you very much for creating and publishing this project, it's awesome!

According to the documentation, the /candidates endpoint feeds data provided on [Form1] (http://www.fec.gov/pdf/forms/fecfrm1.pdf) and [Form2](http://www.fec.gov/pdf/forms/fecfrm2.pdf).  Form1 includes the registrant's email address and web address.  I do not see these fields in the current response from

[2015-07-16 20:54] LindsayYoung commented on #1070
The /candidates endpoint is good for finding basic information. Some of the more obscure information lives in other endpoints.

We do have the website and email for committees that fill out that information.

Here is an example call where you use a candidate ID to find website and email of committees:
https://api.open.fec.gov/v1/candidate/P80003353/committees?designation=P&designaiotn=A&api_key=DE

[2015-07-17 02:27] morninj commented on #1049
Cool, thanks! I won't be able to try this until after the CA bar exam (7/30), but I'll take a look then and let you know if I find any issues.

[2015-07-17 12:50] LindsayYoung commented on #1049
Good luck on the bar!

[2015-07-17 12:50] #1049 closed

[2015-07-20 16:49] pardery commented on #1070
I must have overlooked that, thanks very much!

[2015-07-21 00:08] #967 closed

[2015-07-21 00:09] noahmanger commented on #967
Solved in https://github.com/18F/openFEC-web-app/pull/308

[2015-07-21 00:11] noahmanger commented on #946
This is added to the developer docs but we should look into adding it to fec.gov

[2015-07-21 00:12] noahmanger commented on #1030
Duplicate of https://github.com/18F/openFEC-web-app/issues/321

[2015-07-21 00:12] #1030 closed

[2015-07-21 00:14] noahmanger commented on #944
This is done, right?

[2015-07-21 11:58] pardery opened #1075 "rate limiting"
I have encountered the RATE_LIMIT for maximum requests.  I see that this limit is handled by API Umbrella, but I couldn't find any more details on the limit itself in the openFEC documentation.  Might I be overlooking something?  If not, could you provide some details on how the limiting is handled so that I can adjust my code accordingly?  More generally, do you think it would be feasible to run

[2015-07-21 12:49] emileighoutlaw commented on #944
I'm going to close it here, because we have an open issue for it in blog-drafts. We can review again when it's time to actually publish.

[2015-07-21 12:49] #944 closed

[2015-07-21 12:50] #775 closed

[2015-07-21 13:15] LindsayYoung commented on #1075
Thank you for telling us the rate limiting is being problematic. We will take this into consideration. To confirm, you are using your own key and not DEMO_KEY- the demo key has a lower rate limit.

Also, I think you can keep your data up to date with less queries. `last_file_date` comes from the receipt date of the most recent form 1 filing (That is where we are collecting the email and website in

[2015-07-21 14:42] jmcarp opened #1077 "Write aggregate updates using SQLAlchemy"
Incremental updates for our large aggregates (Schedule A and B) are currently written as SQL stored procedures. This means that adding another aggregate requires copying and pasting an existing aggregate, then replacing a few column names in the stored procedure (compare https://github.com/18F/openFEC/blob/develop/data/sql_incremental_aggregates/prepare_schedule_a_aggregate_zip.sql and https://git

[2015-07-21 16:34] pardery commented on #1075
Thanks for the input Lindsay.  Yes, I am using my own key (not the DEMO key).  I am not sure how many queries it took to hit the max, but if you know what the maximum queries for a given time frame is, I can adjust accordingly.

Also, thanks for the last_file_date tip.  I'll look into that.

[2015-07-21 18:40] #1066 closed

[2015-07-22 18:42] leahbannon commented on #946
Yep! I'm working out upgrading our account (which seems like it will be much easier than I expected) and I just gave Wei a heads up.

[2015-07-23 00:24] s2t2 commented on #1075
Hey, I'm running into the rate limit (1000 calls) during an attempt to page through all 1020 pages of candidates.

[code]

To avoid hitting the limit I tried slowing down the request rate to 1 second per call, then 3 seconds per call, but neither was successful. I'm writing to share this use case and the expectation for rate limit replenishment to handle a request rate of 1-3 seconds.

As an alter

[2015-07-23 14:29] LindsayYoung commented on #1075
Thanks for reaching out! To clarify, the current rate limit is 1,000 requests an hour.

[2015-07-24 14:28] arowla commented on #1077
Sorry to leave this hanging. I'm not quite sure what these would look like in SQLAlchemy, but it does seem like some kind of templated/SQL generated solution, at the very least, would be better than copy and paste.

[2015-07-24 21:46] LindsayYoung commented on #1028
I have the  version in dev. h/t to @jmcarp for help getting that through.

I still need to:
 - [ ] fix filtering- it was working before, but not now
 - [ ] use the formatted document name with the link  instead of just report name and link
 - [ ] add document type filter
 - [ ] add end date
 - [ ] switch report year for standard cycle filter
 - [ ] filter out amendments by default

[2015-07-24 21:59] #939 closed

[2015-07-24 22:57] jmcarp opened #1084 "Expose aggregates by candidate"
In support of https://github.com/18f/openfec-web-app/issues/297, the API needs to provide per-candidate aggregates by contribution size, contributor location, etc. We currently have aggregates by committee, but not by candidate. It looks like we'll want to add aggregates like this:

`/schedules/schedule_a/by_size/by_candidate?cycle=2012&candidate_id=H001&candidate_id=H002...`

These aggregates wou

[2015-07-25 00:12] noahmanger commented on #1084
Yep, this is exactly what we're looking for, afaik.

On Fri, Jul 24, 2015 at 3:58 PM, Joshua Carp <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-07-27 22:33] leahbannon commented on #1027
Closing thanks to Ethnio :D

[2015-07-27 22:33] #1027 closed

[2015-07-31 18:21] LindsayYoung opened #1092 "Whitelist change"
The cloudfoundry changes caused issues for the the ip whitelist we had in place. I took down the whitelist in production but it is still in the code and we should update it.

[2015-07-31 21:37] LindsayYoung commented on #1092
This was a temporary issue with cloudfoundry headers that @dlapiduz already fixed.

[2015-08-02 16:06] jmcarp commented on #1092
Looks like the access route is back to normal :+1:

[2015-08-02 16:06] #1092 closed

[2015-08-03 13:38] #1016 closed

[2015-08-03 15:39] jmcarp commented on #1084
Done in #1086.

[2015-08-03 15:39] #1084 closed

[2015-08-03 15:40] jmcarp commented on #1006
Done a while back.

[2015-08-03 15:40] #1006 closed

[2015-08-03 21:03] jmcarp opened #1097 "Add Schedule E"

[2015-08-03 21:03] jmcarp opened #1098 "Add itemized communication costs."

[2015-08-03 21:03] jmcarp opened #1099 "Add itemized electioneering"

[2015-08-03 21:27] LindsayYoung opened #1100 "Add individulal transfers"
Add lines 18 and 12 to individual filtering for aggregates.

[2015-08-03 23:12] boblannon commented on #1075
I'm trying to write something into a py wrapper that respects the rate limit and backs off, but i'm getting a 429 error long before i make 1000 calls. is it possibly defined for a shorter span of time?

[2015-08-03 23:34] boblannon commented on #1075
it would be helpful to be able to request one's rate limit status (eg, [twitter](https://dev.twitter.com/rest/reference/get/application/rate_limit_status)). is that a capability that apiumbrella has?

[2015-08-04 00:42] s2t2 commented on #1075
Check the response headers for rate limit status.

[code]

You should see the following headers:
 +  `X-RateLimit-Limit: 1000`
 + `X-RateLimit-Remaining: 997`

[2015-08-04 00:56] boblannon commented on #1075
ooh great. thanks!

[2015-08-04 13:41] LindsayYoung opened #1102 "Add line number filtering to schedule A"
To make the aggregate totals reproducible we need to let users filter the `/schedule/schedule_a` endpoint by line numbers.

[2015-08-04 15:00] LindsayYoung opened #1103 "Version number on dev api wrong"
I noticed the dev api is giving the wrong version number- https://fec-dev-api.18f.gov/developers#!/candidate/get_candidates

[2015-08-05 17:49] #981 closed

[2015-08-05 17:49] #988 closed

[2015-08-05 22:43] noahmanger opened #1106 "Add party and challenge / incumbent status to candidate comparison table"
On election pages, the table at the top should show the candidate party, their incumbent / challenger status, and _ideally_ if they won or not (not sure what the plan for the data for this piece is).

[2015-08-06 22:04] #1000 closed

[2015-08-06 22:09] #946 closed

[2015-08-07 15:07] LindsayYoung commented on #1106
I would like that too- I would love to harvest the FEC data for this.

[2015-08-07 18:55] noahmanger opened #1110 "Verify totals on first candidate comparison table on elections page are correct"

[2015-08-10 05:35] dannguyen commented on #1075
On a side note, it'd be cool to note the `per_page` limit being `100` in the documentation...just to save bulk-freeloaders like me the work of  "let's see what happens with *this* request" :)

[2015-08-10 13:55] LindsayYoung commented on #1075
Good point @dannguyen! We'll add that.

[2015-08-10 15:07] #1097 closed

[2015-08-10 16:32] LindsayYoung commented on #1100
We can revisit this at a later date

[2015-08-10 16:32] #1100 closed

[2015-08-10 18:12] dannguyen opened #1112 "API, candidate/committees: Results does not reflect count value"
Not sure if this is related to the now-closed #612 issue, or if it's a matter of me misunderstanding the API and/or the query parameters and key definitions.

When querying the API like so:

https://api.open.fec.gov/v1/candidate/S4VT00033/committees?api_key=DEMO_KEY&designation=P

The `pagination.count` value is __3__, but the results array appears to contain just a single committee:

[code]

[2015-08-10 18:19] LindsayYoung commented on #1112
Thank you for reporting this! We will look into this now.

[2015-08-10 18:41] dannguyen opened #1113 "API server randomly returns empty results"
This may have been addressed in another issue...I did a quick search and didn't see anything or didn't look closely enough to find a similar issue...Anyway, in this example query:

https://api.open.fec.gov/v1/committee/C00411330/totals?api_key=DEMO_KEY

Sometimes, I'll get results. Sometimes I won't (I'm making calls with my own key, not the DEMO_KEY). The discrepancy can happen when I simply refr

[2015-08-11 15:13] mihi-tr commented on #1113
I do seem to consistently get empty results now for committee totals...

[2015-08-11 15:18] LindsayYoung commented on #1113
Thank you for reporting this. We will look at this now.

[2015-08-11 19:45] LindsayYoung commented on #1113
It seems like we need to do some data updates, those should run tonight. I will check to make sure the problem is resolved in the morning.

[2015-08-11 21:44] LindsayYoung commented on #1113
OK this should all be working again- https://api.open.fec.gov/v1/committee/C00411330/totals?api_key=DEMO_KEY

Please tell us if you experience any problems.

Also, just incase is useful- I wanted to mention FRIENDS OF BERNIE SANDERS is his Senate committee C00411330, the Presidential Committee is BERNIE 2016 C00577130.

[2015-08-12 02:20] dannguyen commented on #1113
Thanks!

[2015-08-12 02:20] #1113 closed

[2015-08-13 22:32] LindsayYoung commented on #1103
Please Review- 18F/swagger-ui#6

[2015-08-14 15:38] leahbannon commented on #1029
We've settled on Wagtail, so I'm closing this :+1:

[2015-08-14 15:38] #1029 closed

[2015-08-14 16:35] leahbannon opened #1130 "load testing"

[2015-08-14 16:41] LindsayYoung commented on #1130
We did this for the API - #889 #971

Did we do this for the web app too @jmcarp ?

[2015-08-14 16:54] jmcarp commented on #1130
Yes, but we've added a lot since then--it wouldn't hurt to update the load tests with new functionality and re-run.

[2015-08-14 16:56] LindsayYoung commented on #1130
:+1:

[2015-08-14 21:38] #178 closed

[2015-08-14 22:08] leahbannon commented on #961
@PaulClark2 Can you confirm if this was resolved? Thx!

[2015-08-16 13:02] himynamesdave opened #1132 "/schedules/shedule* endpoints not returning event date"
"receipt_date" and "contributor_receipt_date" fields are not returned in all results for the endpoints /schedules/schedule* (even with "sort_hide_null"="false").

These are important fields because other dates returned like "update_date", "load_date" and "expiry_date" do not reflect data of actual event (donation, etc).

[2015-08-16 14:00] LindsayYoung commented on #1132
Thank you for reporting this @himynamesdave

@jmcarp I think the easiest way to fix this is to release some of the new stuff. I will take a look at it today and we can flag the FEC to take a look on Monday. I am also going to make the name changes we were talking about since those variables weren't publicly exposed anyway. Sound good?

[2015-08-17 14:38] PaulClark2 commented on #961
@leahbannon Short answer is yes. The longer answer is there are 12 committees that have issues with their Form 1s and I've entered change and/or delete transactions in FECP to resolve these issues.   These changes / deletes should process tonight.

18F-cmte_id	FT	count	Note
C00575308	F1	1	deleted
C00576959	F1	2	expunged
C00577205	F1	3	expunged
C00577346	F1	2	expunged
C00579490	F1	1	expunged
C00579

[2015-08-18 14:25] boblannon opened #1137 "by_state and by_zip aggregate endpoints 500'ing"
the following endpoints are returning 500 errors:

`/schedules/schedule_a/by_state`
`/schedules/schedule_a/by_zip`

`/committee/{committee_id}/schedules/schedule_a/by_state` [example](https://api.open.fec.gov/v1/committee/C00575795/schedules/schedule_a/by_state)
`/committee/{committee_id}/schedules/schedule_a/by_zip` [example](https://api.open.fec.gov/v1/committee/C00575795/schedules/schedule_a/by

[2015-08-18 14:36] boblannon opened #1138 "by_size aggregate endpoints missing data"
the results from the `committee/{committee_id}/schedules/schedule_a/by_size` endpoint are omitting many contributions in their aggregates.  for example, [bucketing contributions to Hillary for America](https://api.open.fec.gov/v1/committee/C00575795/schedules/schedule_a/by_size) is only returning the total of unitemized contributions.

[code]

This isn't accurate: that committee raised more than $

[2015-08-18 15:46] jmcarp commented on #1137
Thanks for reporting this! Turns out to be an issue we resolved in develop that hadn't made its way to production yet--I'm applying the fix to production now. It'll take a few hours to rebuild the tables, so I'll close the issue when they're back.

[2015-08-18 15:47] boblannon commented on #1137
:smile:

[2015-08-18 18:11] jsfenfen commented on #1112
This is also sorta jarring for /filings as well. It does say that counts are estimates, but as of now the estimate are pretty far off...

This query https://api.open.fec.gov/v1/filings?sort=-receipt_date&per_page=100&api_key=KEY&min_receipt_date=2015-08-13&page=1

returns this pagination: {u'count': 12612, u'per_page': 100, u'page': 1, u'pages': 127}

But as of now there are actually only 80 resul

[2015-08-18 19:30] jmcarp commented on #1137
They're back!

[2015-08-18 19:30] #1137 closed

[2015-08-18 20:13] jmcarp commented on #1112
@jsfenfen exact counts for large queries are prohibitively slow on the larger tables, but I'll look into raising the threshold below which we get an exact count. At the moment, we only get an exact count when the approximate count is less than 5000, but we may still get acceptable performance at a higher threshold.

[2015-08-19 04:21] jmcarp opened #1141 "Handle receipts duplicates"
Based on conversation in #fec-partners with @jwchumley and @paulclark2:

Currently, we're trying to exclude duplicate transactions in aggregates by excluding records with `memo_cd = 'X'`, but @jwchumley pointed out that this isn't reliable. It sounds like there are multiple options for dealing with this, so let's pick one here, and then we can implement:
* Restrict receipts to `receipt_tp in ('15'

[2015-08-19 13:26] jwchumley commented on #1141
I spoke with Paul this morning to hash this out. We think on the level of
the browse all receipts, all should be included. Even those that duplicate
others. On levels where a specific set is broken out and summed (like the
indivicual contributors on a committee's Receipts tab) we should try not
to include duplicates. I'm working on rules for that right now.

From:   Joshua Carp <notifications@gith

[2015-08-19 15:15] jwchumley commented on #1141
OK Josh,

Here is what I have. It may need tweaking but I think it is a good place
to start. Include all receipts in the "browse all receipts". If you click
through to individual contributions on a committee's receipts tab, use
this logic

Individual Contributions:
Rule #1: If it has a receipt_tp in (15,15E, 15J, 18J) then include it
Rule  #2 If it is on line 11a or 12 (F3 or F3x) or line 17 or 17

[2015-08-19 15:22] jmcarp commented on #1141
Sounds good @jwchumley. I assume these rules should also apply to aggregates of individual contributions (by state, size, etc.), right?

[2015-08-20 04:09] jmcarp commented on #1141
A few quick questions on this for @paulclark2 or @jwchumley:
* Can you confirm that we also want to apply these rules to aggregates of individual contributions? Seems like we should.
* Do we care about the value of the `memo_cd` column? I see that some receipts with non-null `memo_text` values have null `memo_cd`. Do we want to exclude receipts with null `memo_cd` that have `memo_text` values that

[2015-08-20 15:36] jwchumley commented on #1141
Yes. Apply to aggregates of Individual contributions

We do care about memo_cd. In the case of "earmark" in the memo_text we include the ones with null memo_cd and exclude the ones with non-null memo_cd.

I'll have to look at disbursements to see if there is a similar rule for memo's there.

[2015-08-20 16:01] ghing opened #1144 "API returns no candidate records for some 2016 presidential form 2 filers"
I tried to get candidate records for some of the candidates listed here: http://www.fec.gov/press/resources/2016presidential_form2dt.shtml

However, requesting a record for "SKETCH, TOM BRADY" (candidate ID P60009974) via https://api.open.fec.gov/v1/candidate/P60009974?api_key={api_key_obfuscated}&sort=-expire_date&page=1&per_page=20

returns no results:

[code]

[2015-08-20 16:02] jwchumley commented on #1141
Disbursements are messier than receipts because most of them don't get coded and there is a wide variation in the way people report. I think if we try to write rules to handle excluding aggregate rows we will find hundreds of cases. Discussed with Paul. We think we need to include memos for display but don't include their values in when summing.

[2015-08-20 16:51] jwchumley opened #1145 "To provide context to receipts aggregates, show total and/or percentage of total"
Paul and I were thinking the grids need a way for the viewer to see how each row fits into the overall. Like adding a percentage of total column to the State, Contribution Size, Employer and Occupation grids.

That or put the total amount at the top of each grid like this:

Receipts by State (total - $6,233,44)

Whatever works best.

[2015-08-20 23:03] boblannon commented on #1138
bumping this to make sure it didn't get lost alongside another, similar issue that i opened just beforehand.  the data still seems to be missing. are my expectations incorrect, or is there possibly an aggregation issue?

[2015-08-22 22:00] konklone opened #1146 "Record web analytics?"
The landing page at https://api.open.fec.gov doesn't have any analytics reporting, for 18F or DAP.

[2015-08-24 14:09] jmcarp opened #1147 "Inconsistent dates in `vw_filing_history`"
The `vw_filing_history` view includes several columns with date information, but no single column can be used across all form types. Examples: the `report_year` and `election_year` columns are always set to `0` for F1 filings; `receipt_date` is always `null` for RFAI filings. When we filter filings from this view by year, it's unclear which column(s) we should use to determine the year.

It also l

[2015-08-25 18:09] PaulClark2 commented on #1147
@jmcarp
VW_FILING_HISTORY
Form 1 - election year null
	This is correct.  Election years are not part of the Form 1 filing.

Form 1 - report year null
	This is an error.  I've asked our DBA team to update the script that generates VW_FILING_HISTORY.

RFAI - receipt date null
	This is an error.  The RFAI Date will be used to populate receipt date in VW_FILING_HISTORY. I've asked our DBA team to upda

[2015-08-26 15:11] jmcarp commented on #1147
Thanks! I'll leave the issue open for now, and close once we have updated data and I've reverted the temporary workaround I added to the API to deal with missing data.

[2015-08-26 18:04] jwchumley opened #1152 "Candidate page summary amounts and rounding"
https://fec-dev-web.cf.18f.us/candidate/P00003392?cycle=2016

TTL receipts, disbursements and ending cash are all rounded to $100 or sometimes to the $0 (bernie Sanders Disb) Debt is not rounded. I think it should probably not round anything but if it does they should all be treated the same way.

[2015-08-26 18:28] jwchumley opened #1153 "Questionable link on candidate pages"
https://fec-dev-web.18f.gov/candidate/P60006723?cycle=2016

"Source: July Quarterly 2015" is inaccurate. it implies that the numbers come from the July Quarterly 2015 report column B but they are actually summed from Column A of all reports in the two year period. I think it is better not to link there at all. It is already clear on the other side of the screen where it says "Calculated from repor

[2015-08-26 18:30] jwchumley opened #1154 "Amendment Indicator should only have New or Amended on Candidate filings tab (issue #1)"
https://fec-dev-web.cf.18f.us/candidate/P60006111?cycle=2016&tabs=filings

Amendment Indicator should only have New or Amended. The other options don't apply to the candidate because the candidate only files form 2 and occasionally misc documents.

[2015-08-26 18:31] jwchumley opened #1155 "Election Type should be removed from Candidate Filings Tab (issue #2)"
https://fec-dev-web.18f.gov/candidate/P60006111?cycle=2016&tabs=filings

Election Type should be removed. It doesn't apply to Form 2

[2015-08-26 18:32] jwchumley opened #1156 "Report Type should be Removed from Candidate Filings Tab (tab issue #3)"
https://fec-dev-web.18f.gov/candidate/P60006111?cycle=2016&tabs=filings

Report Type should be Removed. Doesn't apply to form 2

[2015-08-26 18:33] jwchumley opened #1157 "Candidate Filings list not showing Form 2 on candidate filings tab (issue #4)"
https://fec-dev-web.18f.gov/candidate/P60006111?cycle=2016&tabs=filings

Candidate Filings list not showing Form 2 which is pretty much the only thing that should be there along with disavowal notices.

[2015-08-26 18:35] jwchumley opened #1158 "Committee Filings Tab duplicating operating expenditures"
https://fec-dev-web.18f.gov/committee/C00554261?cycle=2016

Expand the disbursements list and the top entry is duplicated. Looks like it might be a simple upper/lower case thing.

[2015-08-26 18:53] jwchumley opened #1159 "Filings search form 1"
https://fec-dev-web.18f.gov/filings

Form 1s are listed as Document[year] instead of Form 1. Also the monetary values are populated with zeros where they should be null.

[2015-08-26 19:02] jwchumley opened #1160 "Filings search report type order"
The pulldown for report type needs to be in a more sensible order. Here is the order and grouping we've used in the past:

<table>
<tr><td class="titleCol">Report Type :</td></tr>
<tr style="height:25px;">
  <td width="360" valign="middle">
    <select class="multiSelect" multiple="" size="4" id="reportType" name="reportType" style="width: 340px">
	<optgroup style="font-family: Verdana,Arial,Helve

[2015-08-26 20:03] leahbannon commented on #1158
Expand how? View more results per page? Do you mean these two?

<img width="1032" alt="screen shot 2015-08-26 at 2 01 49 pm" src="https://cloud.githubusercontent.com/assets/4323988/9504686/22f31556-4bfb-11e5-848e-a591e39919ff.png">

[2015-08-27 00:15] jmcarp commented on #1157
Fixed in https://github.com/18F/openFEC-web-app/pull/523.

[2015-08-27 00:15] #1157 closed

[2015-08-27 00:16] jmcarp commented on #1156
No longer an issue; filters have been removed from the candidate filings view. See https://fec-dev-web.18f.gov/candidate/P60006111.

[2015-08-27 00:16] #1156 closed

[2015-08-27 00:16] jmcarp commented on #1155
No longer an issue; filters have been removed from the candidate filings view. See https://fec-dev-web.18f.gov/candidate/P60006111.

[2015-08-27 00:16] #1155 closed

[2015-08-27 13:06] manuganji opened #1161 "I created an example python implementation to fetch data from the api"
Hey, do you think this is useful? [Link to my repo](https://github.com/manuganji/fec-api-crawler)

[2015-08-27 13:49] jmcarp commented on #721
This has been implemented.

[2015-08-27 13:49] #721 closed

[2015-08-27 14:08] himynamesdave commented on #1132
There are a number of other discrepancies I've noticed between the docs and what is returned in some responses.

We currently have a set of samples from the FEC API indexed into Splunk which I would be happy to work through with you guys.

![download](https://cloud.githubusercontent.com/assets/1296409/9522506/28f6e798-4ccd-11e5-9546-add9df6b8078.png)

[2015-08-27 16:19] jmcarp commented on #1152
We aren't rounding any of these values at the moment--we're just adding up the values from (in this example) `factpresidential_f3p`. It looks like some committees report round numbers, like in the example you posted, and some don't--for examples, https://fec-dev-web.18f.gov/candidate/P60008059.

@jwchumley: do you want us to take any action here, or is the current behavior (not rounding) what you

[2015-08-27 16:59] jwchumley commented on #1152
Odd. When I look at candidate Hillary Clinton we have 47,549,949 and you are showing 47,549,900. That is just one example. There are many.

select * from FACTPRESIDENTIAL_F3P where cmte_sk = 10056935;

[2015-08-28 16:24] leahbannon commented on #1161
Cool, thanks! We love seeing how people are using the API. You might also want to play around with [this swagger feature](https://github.com/swagger-api/swagger-codegen).

[2015-08-28 16:24] #1161 closed

[2015-08-30 02:17] manuganji commented on #1161
Wow! Thanks for telling me about Swagger, @leahbannon. How much time it saves  for everyone! :+1:

[2015-08-31 13:22] LindsayYoung commented on #1159
also posted 18F/openFEC-web-app#458

[2015-08-31 14:30] boblannon commented on #1138
any info? paging @LindsayYoung @jmcarp

[2015-08-31 14:47] LindsayYoung commented on #1138
Hey Bob, sorry for the delayed response.

I see now that this was not documented. I think that paging, rate limiting and a few other things need to be better explained too.

We are doing this on purpose for some charts on the website,  where we tackle individual donations separately. It doesn't make sense to do the aggregations for employer or state with the I can see the utility of having the siz

[2015-08-31 14:51] boblannon commented on #1138
ah, i see. that explains it! thanks.

[2015-08-31 16:33] noahmanger commented on #1159
Let's not lose sight of the first part, which is coming up with a better name to display than just "Document".

[2015-08-31 16:39] LindsayYoung commented on #1159
Not having good names for documents is issue #544

[2015-08-31 16:45] noahmanger commented on #1159
Oops, just saw that. Thanks.

On Mon, Aug 31, 2015 at 9:39 AM, Lindsay Young <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-08-31 17:28] jmcarp commented on #1106
This information is added to the API output in proposal #1165. I haven't added it to the webapp so far since the table is already pretty full, but adding it should be simple once #1165 is ready. Maybe we could highlight the row of the winner in the table (if there is one) so we can show the information without adding an extra column. What do you think @noahmanger @LindsayYoung?

[2015-08-31 17:30] noahmanger commented on #1106
Yeah I like the idea of something like that. Or maybe a star next to their name? Or a :trophy: emoji? (Only  half-joking)

[2015-08-31 17:47] LindsayYoung commented on #1106
I think there might be a good emoji approach- something other than a trophy.

[2015-08-31 17:48] noahmanger commented on #1106
Maybe just a plain unicode star http://www.fileformat.info/info/unicode/char/2605/index.htm

[2015-08-31 17:49] noahmanger commented on #1106
Or we could create our own custom icon. Thoughts @jenniferthibault ?

[2015-08-31 17:51] noahmanger commented on #508
No longer relevant.

[2015-08-31 17:52] #508 closed

[2015-08-31 17:56] noahmanger commented on #1060
Done

[2015-08-31 17:56] #1060 closed

[2015-08-31 17:58] #1070 closed

[2015-08-31 17:58] #1015 closed

[2015-08-31 17:58] noahmanger commented on #969
No longer relevant

[2015-08-31 17:58] #969 closed

[2015-08-31 18:12] leahbannon commented on #1159
Appears that this is covered elsewhere, so I'm closing. Please reopen if I'm wrong.

[2015-08-31 18:12] #1159 closed

[2015-08-31 18:19] leahbannon commented on #1146
related: https://github.com/18F/openFEC-web-app/issues/373

[2015-08-31 18:47] leahbannon commented on #940
Oooh this is very cool

[2015-08-31 18:59] jmcarp opened #1166 "Inconsistent data in cand_valid_fec_yr"
While I was working on getting incumbent officeholders, I noticed a few oddities in the `cand_valid_fec_yr` table:

Both Eric Cantor and Dave Brat are listed as incumbents in the 2014 Virginia 7th race:
[code]

Hillary Clinton, Kirsten Gillibrand, and Robert Turner are *all* listed as the incumbent in the 2012 New York Senate race. It makes sense to see Clinton and Gillibrand, since Gillibrand won

[2015-08-31 19:21] leahbannon commented on #903
No longer relevant

[2015-08-31 19:21] #903 closed

[2015-08-31 19:32] PaulClark2 commented on #1166
@jmcarp In VA-07 there was a special election in 2014 the same day as the general.  Mr. Brat took office in November 2014 to finish Mr. Cantor's term.

Turner is an error.  It looks like one of his Senate Form 2s was indexes to his House ID.  I'll fix this.

[2015-08-31 19:35] noahmanger commented on #1153
Take-aways from discussion:
- [ ] Include coverage dates
- [ ] Include links to underlying reports

[2015-08-31 19:43] leahbannon commented on #1102
Has this already been addressed?

[2015-08-31 19:49] #1001 closed

[2015-08-31 19:51] LindsayYoung commented on #1026
Build our own totals

[2015-08-31 19:53] leahbannon commented on #1158
Financial Summary tab > expand Total Disbursements

[2015-08-31 19:53] LindsayYoung commented on #1158
<img width="1070" alt="screen shot 2015-08-31 at 3 52 59 pm" src="https://cloud.githubusercontent.com/assets/4406333/9588835/6fe63644-4ff8-11e5-8eeb-14997e383f00.png">

[2015-08-31 20:08] LindsayYoung commented on #1160
covered in 18F/openFEC-web-app/issues/360

[2015-08-31 20:08] #1160 closed

[2015-08-31 20:21] jmcarp commented on #909
This got fixed during restyling. Closing!

[2015-08-31 20:21] #909 closed

[2015-08-31 20:25] leahbannon commented on #910
This issue is no longer relevant with the new designs.

[2015-08-31 20:25] #910 closed

[2015-08-31 21:17] jmcarp commented on #130
State filters have been changed to dropdowns--no longer relevant.

[2015-08-31 21:17] #130 closed

[2015-08-31 21:18] jmcarp commented on #179
Added.

[2015-08-31 21:18] #179 closed

[2015-08-31 21:19] jmcarp commented on #297
Done--we now generate API docs automagically.

[2015-08-31 21:19] #297 closed

[2015-08-31 21:21] jmcarp commented on #357
We got `vw_filing_history` but not `f_rpt_or_form_sub_vw`. Did we need that one? @LindsayYoung can we close this?

[2015-08-31 21:23] jmcarp commented on #346
Now that we have election pages with per-candidate fundraising totals, I'm wondering if we can close this. Thoughts @LindsayYoung @noahmanger?

[2015-08-31 21:25] jmcarp commented on #443
We've done a lot of cleanup on the API since this was filed, so I'm going to close it for now. @arowla feel free to reopen if you had something specific in mind that hasn't been addressed.

[2015-08-31 21:25] #443 closed

[2015-08-31 21:26] jmcarp commented on #709
This has been done in fec-style.

[2015-08-31 21:26] #709 closed

[2015-08-31 21:27] jmcarp commented on #716
Page sizes have been capped at 100. Closing.

[2015-08-31 21:27] #716 closed

[2015-08-31 21:27] jmcarp commented on #725
Done.

[2015-08-31 21:27] #725 closed

[2015-08-31 21:27] jmcarp commented on #660
Done.

[2015-08-31 21:27] #660 closed

[2015-08-31 21:28] jmcarp commented on #827
There are now totals tests.

[2015-08-31 21:28] #827 closed

[2015-08-31 21:30] jmcarp commented on #156
Let's revisit this post-release. @leahbannon should we take this out of the backlog?

[2015-08-31 21:33] jmcarp commented on #263
Can this be closed @noahmanger? I think the candidate pages have changed enough so that this doesn't apply.

[2015-08-31 21:38] jmcarp commented on #291
Looks like this isn't relevant anymore; closing.

[2015-08-31 21:38] #291 closed

[2015-08-31 21:39] jmcarp commented on #198
Following the switch to webargs for request parsing, passing extra arguments no longer throws an error. Closing.

[2015-08-31 21:39] #198 closed

[2015-08-31 21:39] noahmanger commented on #263
Yep

On Mon, Aug 31, 2015 at 2:33 PM, Joshua Carp <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-08-31 21:40] jmcarp commented on #442
I don't see any skipped tests left in the API.

[2015-08-31 21:40] #442 closed

[2015-08-31 21:41] jmcarp commented on #373
Not entirely sure what we're looking for here, but I'm wondering whether this is resolved by the updated Swagger documentation and browsable API--what do you think @LindsayYoung?

[2015-08-31 21:43] jmcarp commented on #496
Is this still something we want to do @noahmanger?

[2015-08-31 21:43] jmcarp commented on #908
Done.

[2015-08-31 21:43] #908 closed

[2015-08-31 21:44] jmcarp commented on #860
Redirects implemented.

[2015-08-31 21:44] #860 closed

[2015-08-31 21:46] #263 closed

[2015-08-31 21:52] noahmanger commented on #496
I don't think we need this.

[2015-08-31 21:53] jmcarp commented on #1146
Questions:
* Do we want separate or combined analytics for the three apps (API, data app, and CMS)?
* Should we use 18F Google Analytics, DAP, or both?

[2015-08-31 21:59] konklone commented on #1146
I strongly recommend both. Getting analytics for a single site out of DAP is definitely possible, but involves annoying custom reports and filters, and occasionally sampling errors.

[2015-08-31 22:37] #496 closed

[2015-08-31 22:51] LindsayYoung commented on #373
They wanted the list for available codes for things like committee type. I think or documentation has gotten better about this.

[2015-08-31 22:51] #373 closed

[2015-08-31 22:51] #357 closed

[2015-08-31 22:52] LindsayYoung commented on #346
Agreed.

[2015-08-31 23:10] leahbannon commented on #1146
Yep - 18F and DAP is standard for our projects. By combined analytics, do you mean the same UA code? If so, yes, combined is better.

[2015-08-31 23:16] leahbannon commented on #156
Yes, good call. This was in a backlog milestone, though, and we're no longer using milestones (using labels instead). I've cleaned up and removed the milestones. :+1:

[2015-08-31 23:59] boblannon commented on #1138
wait, actually, I still don't understand.  C00575795 has raised over $38M in individual contributions, including $8M in unitemized (<$200) individual contributions.

You're saying, I think, that the `by_size` endpoint leaves out pac-to-pac contributions, which makes sense, but what about the other individual contributions?  Only the unitemized ones are included in the results.

[2015-09-01 01:39] onezerojeremy opened #1167 "Differentiate Glossary links from normal links"
Usability testing revealed that individuals sometimes confuse the glossary links, which trigger an in-page modal drawer and normal links, which users use to a navigate to a new page. A tweak to the visual display is probably in order.

![screen shot 2015-08-31 at 11 17 21 am](https://cloud.githubusercontent.com/assets/474916/9594337/bab07e76-5027-11e5-84b3-b1967b151bbf.png)
(the problem manifested

[2015-09-01 01:48] onezerojeremy opened #1168 "To help users find relevant committees, provide more emphasis on links to the candidate-committees on the candidate page"
Usability testing revealed that people were still a little unclear on the candidate -> candidate-committee hierarchy on the candidate page. The new designs demonstrated marked improvement over the previous iteration; in most cases users were eventually able to navigate to the candidate-committee page, but it wasn't their first instinct.

![screen shot 2015-08-31 at 11 17 50 am](https://cloud.githu

[2015-09-01 02:04] onezerojeremy opened #1169 "Differentiate registration actions from registration learning links"
On the registration home page, registration options page, and congressional candidate checklist page, users were confused about whether a link would trigger an action, or provide more information about completing an action. For instance the "start your registration process" link on the registration homepage indicated to users that they'd be filling out a registration form, not in fact learning abo

[2015-09-01 02:37] onezerojeremy opened #1170 "Browse Page Filter w/o autocomplete needs an "apply" target"
In usability testing, we found that users sought a button to apply filters (that did not have an autocomplete option), not recognizing that clicking out of the field would apply the filters.
![screen shot 2015-08-31 at 12 02 08 pm](https://cloud.githubusercontent.com/assets/474916/9594962/7d007046-5030-11e5-955a-23912cad25a1.png)

[2015-09-01 03:12] #346 closed

[2015-09-01 03:14] jmcarp commented on #204
Not sure what this means--can you elaborate (or close) @LindsayYoung?

[2015-09-01 13:11] LindsayYoung commented on #16
@onezerojeremy and others have done this.

[2015-09-01 13:11] #16 closed

[2015-09-01 13:20] LindsayYoung commented on #204
Sorry for the cryptic message!

To do this, we would need to filter schedule B by line number- 17B are operating expenditures. Having the records in the order they appear on the form is important because sometimes people will write "see above" or something like that.

I think this originated from a request of @jsfenfen

[2015-09-01 13:21] #242 closed

[2015-09-01 13:44] LindsayYoung commented on #1138
OK, that sounds like an error. I will look into it.

[2015-09-01 14:04] jmcarp commented on #1152
I'm not sure which column you're looking at, but I don't see that value in any of our databases. From staging:
[code]

This is the value we're showing on the site. I don't see any columns for Clinton with the value you found--maybe the data are being changed during or before they're sent through Golden Gate. @PaulClark2 may have some insight here.

[2015-09-01 15:03] jwchumley commented on #1152
When I run that statement in the source tables I get 47549949.64.  I'll look at it with Paul and see if we can figure out where the change is happening.

[2015-09-01 15:04] #517 closed

[2015-09-01 15:09] #794 closed

[2015-09-01 18:29] jwchumley commented on #1152
I think I've at least figured out where the problem lies. It looks like data from the initial load is correct but data loaded via nightly update has an issue where any 8 digit number is rounding to the nearest 100. I've sent it to Rohan but they are working on a major hardware update so he may not look into it until next week.

[2015-09-02 00:46] leahbannon commented on #1169
Also the checkboxes (which I happen to love) seem to confuse people --> they think this should be something they actually check off like on a form.

[2015-09-02 03:58] jmcarp commented on #1138
This will be fixed with the next release to production, which we're going to start in the morning. Some of the aggregate tables will take a while to update--I'll let you know and close the issue when they're done.

[2015-09-02 13:22] LindsayYoung commented on #1138
OK, we have already fixed this on our development branch and we will push this with the next round of updates.

[2015-09-02 14:17] jenniferthibault commented on #1167
We have a solution for this, I just don't think it was implemented. cc @noahmanger

Glossary links won't be underlined, but will show the book icon. When you hover over the book (or click/focus on mobile/screen reader) the whole word will highlight itself, and then on click the glossary will pop out.

Regular links will have dotted underlines.

[2015-09-02 14:22] onezerojeremy commented on #1167
sounds perfect!

(Just wanted to issue it so we didn't lose it.)

[2015-09-02 14:30] jenniferthibault commented on #1167
:+1: roger that — also getting it out of my head to keep track of it somewhere :)

[2015-09-02 14:54] jwchumley commented on #1152
Rohan fixed it. Numbers are correct now. No more rounding

[2015-09-02 15:19] jmcarp commented on #1152
Great, thanks for figuring this out.

[2015-09-02 15:19] #1152 closed

[2015-09-02 15:59] noahmanger commented on #1167
Assigning to myself now.

[2015-09-02 15:59] noahmanger commented on #1167
Great. Sorry, I forgot we had that solution.

On Wed, Sep 2, 2015 at 7:30 AM, Jennifer Thibault <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-09-02 16:49] noahmanger commented on #848
Is this still something we need to worry about?

[2015-09-02 16:54] LindsayYoung commented on #848
We have the explanation as text, which is works for me.

[2015-09-02 20:53] jmcarp commented on #1026
Done in #1171.

[2015-09-02 20:53] #1026 closed

[2015-09-02 21:31] #1110 closed

[2015-09-03 03:30] jmcarp commented on #1141
@jwchumley I believe you mentioned that the filter for individual contributions wasn't behaving as you expected it to. Could you remind me of what the problem was so I can take a look?

[2015-09-03 12:02] jwchumley commented on #1141
@jmcarp: Here is a good example.

https://fec-dev-web.18f.gov/receipts?committee_id=C00546358&min_date=01%2F01%2F2015&max_date=12%2F31%2F2016

There are 83 transactions. None of them are duplicates.  If you hit unique-only  it drops to 24 transactions.  Why?

[2015-09-03 14:15] LindsayYoung commented on #1141
I think that "unique only" really means "hide subtotals"

I think, that filter should give you the results without memoed items or earmarked contributions. Correct, @jmcarp ?

[2015-09-03 16:40] #724 closed

[2015-09-03 17:18] jmcarp commented on #1138
Looking good now:
[code]

Thanks for reporting!

[2015-09-03 17:18] #1138 closed

[2015-09-03 18:16] LindsayYoung opened #1176 "incumbent challenger wording"
Right now, there are quite a few instances, where the data doesn't make sense. I think we need to clean the data or apply some additional logic to how we display incumbent, challenger and open seat.

@paulclark2 any advice?

It seems to happen frequently for Senate races:
http://localhost:3000/elections/senate/MD/2016/
http://localhost:3000/elections/senate/CA/2016/
http://localhost:3000/elections

[2015-09-03 19:57] emileighoutlaw commented on #1169
Once implemented, these revisions should address this issue: https://docs.google.com/document/d/1wyHWy6wAhVcMeHMaaEojUfvRrRhZXTEnYPMWl4Bj-q4/edit

[2015-09-03 20:33] jmcarp commented on #1141
"Unique only" is a combination of several rules that @jwchumley defined earlier in this thread. There are several receipts for the committee in question (Alma Adams for Congress) that don't pass the rules, so if we're expecting more (or all) of those transactions to show up as unique, we'll need to adjust the rules. For example, receipt B on page http://docquery.fec.gov/cgi-bin/fecimg/?15951164753

[2015-09-03 22:29] leahbannon opened #1177 "Content review of api docs before launch"
To do, in order:

- [ ] Are docs done and ready for review? Or do you expect more changes in the next few weeks?
- [ ] Leah edits
- [ ] Emileigh edits

[2015-09-04 04:51] #1167 closed

[2015-09-04 11:04] jwchumley commented on #1141
I'll talk with Paul this morning. I misunderstood the unique only
checkbox. It was my understanding that we would show everything here in
the receipts browse view and use the deduping rules when  displaying
transactions that supported a summary figure such as the contributions by
state or by size or supporting the receipt summary or disbursement summary
for a candidate or a committee.

I don't thi

[2015-09-04 13:51] onezerojeremy commented on #1169
I think these content revisions will absolutely help!

I also think we'll need to address the individual checklist item; though at this point I think it solving the microcopy issue will only take us half way: providing ways to start the process steps as well as learning more about the process steps seems like the right move.

[2015-09-04 14:03] PaulClark2 commented on #1141
I am out of the office from Fri 09/04/2015 until Tue 09/08/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC] Handle
receipts duplicates (#1141)" sent on 9/4/2015 7:04:48 AM.

This is the only notification you will receive wh

[2015-09-04 14:10] jwchumley commented on #1141
OK. So I won't talk to Paul. I forgot he was off today. I'd say the box is functioning OK but needs a new title. As a starting point I would suggest "Remove Extraneous Transactions" with a link to a blurb about what the removed transactions would be (how earmarks are reported, Partnerships, etc.)

[2015-09-04 14:58] jenniferthibault commented on #1106
I love the idea of a star showing the office holder. How about this one though, which is a little bit softer that the standard unicode. I believe it's based on a CFPB design:

![star](https://cloud.githubusercontent.com/assets/11636908/9686843/e3161dca-52f3-11e5-8c13-ef40db1b050c.png)

[2015-09-04 15:46] leahbannon commented on #1106
:+1:

[2015-09-04 15:47] noahmanger commented on #1106
Can you drop that in the icon file?

[2015-09-04 15:54] noahmanger commented on #1106
How does this work for folks? I removed the "incumbent status" column and added the key?

![screen shot 2015-09-04 at 8 53 02 am](https://cloud.githubusercontent.com/assets/1696495/9688200/9389f3e6-52e2-11e5-8119-31d57cc39347.png)

@jmcarp i just added an optional parameter to `buildEntityLink` to add a class to candidate names that are incumbents. That work for you?

[2015-09-04 16:00] LindsayYoung commented on #1106
Can we call it "current office holder" that way we don't have to keep track if they are really running again?

[2015-09-04 16:01] jenniferthibault commented on #1169
I think it would be totally fine to remove the "checklist" interface from this. We could certainly make it a bulleted list, which at this point is more accurate. Maybe a downloadable checklist that people could print off themselves would be a nice bonus, but not launch critical. Does that help, @onezerojeremy ?

[2015-09-04 16:01] PaulClark2 commented on #1141
I am out of the office from Fri 09/04/2015 until Tue 09/08/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC] Handle
receipts duplicates (#1141)" sent on 9/4/2015 10:10:26 AM.

This is the only notification you will receive w

[2015-09-04 16:05] noahmanger commented on #1106
They only show up in this table if they're running, right?

[2015-09-04 16:10] noahmanger commented on #1106
Could be good to add the current office-holder in the header though. Which in the case of an incumbent would be a duplicate.

[2015-09-04 16:29] LindsayYoung commented on #1106
I am seeing a lot of people in there, especially in Senate that I don't think are running.

That issue is #1176, there are some examples there

[2015-09-04 16:31] noahmanger commented on #1106
So you're saying they show up in the table even if they're not running?

[2015-09-04 17:54] LindsayYoung commented on #1106
There committees still have activity. Maybe we could solve this by only including candidates that have filed a form 2 for that election year?

[2015-09-04 17:55] noahmanger commented on #1106
Oh yeah. I think that's definitely the expected behavior. Any reason not to?

[2015-09-04 18:09] onezerojeremy commented on #1169
There are two things happening here: One is that, yes, I think that people do expect to click on the checkboxes, but I'm not sure that this is a big deal, as there are no repercussions of clicking in the boxes, and users quickly learn that it doesn't do anything.* What the checkbox visuals do that is important, I think, is convey the idea that these are things that they need to do. I'm of course a

[2015-09-04 18:28] jenniferthibault commented on #1169
Good thoughts on the checklist-y-ness as required actions! I think we could also help people out a little bit if we were better about linking certain words, instead of all of them. @noahmanger and I talked about this for a minute yesterday.

For example instead of linking
 - [Register a candidate](#)
 - [Register a candidate committee](#)

We could do something like
- [Register](#) a candidate. [L

[2015-09-04 18:39] leahbannon commented on #1169
This is fascinating :+1:

[2015-09-04 19:02] emileighoutlaw commented on #1169
I do like the sentences Jen suggest. Otherwise, what do you all think of
the content revisions I suggested here:
https://docs.google.com/document/d/1wyHWy6wAhVcMeHMaaEojUfvRrRhZXTEnYPMWl4Bj-q4/edit
?

On Fri, Sep 4, 2015 at 2:39 PM, Leah Bannon <notifications@github.com>
wrote:

[2015-09-04 19:10] emileighoutlaw commented on #1169
I think the Google doc ^^ does address the individual content issues by suggestion something like:

Learn how to:
- Get a tax ID
- Get a bank account
- Get a treasurer
- Register as a candidate
            - Register now
- Register as a committee
             - Register now

Thoughts? I do very much like @jenniferthibault's microcopy suggestion, too.

[2015-09-04 20:03] jenniferthibault commented on #1169
Oof, sorry @emileighoutlaw, I missed the Google Doc entirely. Excuse the text-only mockup below, but adding in checkboxes and links, are we comfortable with the following format to move forward with?

**Learn how to:**
- [ ] Get a [tax ID](#)
- [ ] Get a [bank account](#)
- [ ] Get a [treasurer](#)
- [ ] Register as a [candidate](#)  |  [Register now](#)
- [ ] Register as a [committee](#)  |  [Reg

[2015-09-04 20:06] onezerojeremy commented on #1169
Oh sorry @emileighoutlaw, i read the doc, but totally missed the "learn how to" list head in my skim. I think I would like to A/B test it, but we don't have users yet. Yet.

If I had to choose, I think I'm probably leaning toward the sentence construction that @jenniferthibault put forth, if only for the reason that my skim didn't actually pick up the "learn how to" list head, and think others mig

[2015-09-04 20:09] jenniferthibault commented on #1169
Yeah, I don't really want seven "Learn more's" in a row either. We could make the "learn how to" more prominent with a type treatment?

[2015-09-04 20:43] jmcarp opened #1178 "Prepare for presentation"
* [x] Figure out A/V situation (browser, laptop, projector, resolution)
* [x] Plan demo content (which candidates, committees, maps, etc.)
* [x] Practice and refine presentation

Ping @leahbannon

[2015-09-04 20:49] emileighoutlaw commented on #1169
I love Jen's construction. Let's definitely go with that!

For the others. I do think A/B testing would be :bomb:. In my gut I feel like with a bold *learn more about:* people will see and understand it. But that could just be because I really want them to.

[2015-09-04 21:49] onezerojeremy commented on #1169
let's try the bold prominent learn more. it's the simplest possible fix, right?

if people are confused, we can revisit.

[2015-09-04 23:51] leahbannon opened #1180 "404 page needs minor improvements"
This is the current 404 page. I'd like to change the language at the bottom to: "Still can't find what you're looking for? Contact support by [emailing us](18F-FEC@gsa.gov) or [opening an issue in GitHub](https://github.com/18f/fec/issues/new)."

It also needs some design fixes.

<img width="1042" alt="screen shot 2015-09-04 at 5 48 10 pm" src="https://cloud.githubusercontent.com/assets/4323988/96

[2015-09-06 02:19] jmcarp commented on #1177
As far as I know, the docs are ready for review, unless there's anything @LindsayYoung has in mind to change first. Will we want FEC to review the API docs as well?

[2015-09-06 11:47] emileighoutlaw commented on #1180
Good thought! How about:

`Get support by emailing us or opening a GitHub issue`

[2015-09-08 13:20] emileighoutlaw commented on #1169
I second that!

So, a bold "learn more" and then the suggested bullet points in the google doc, with the exception of "Register as a candidate" because I would like to go with Jen's "Register a committee | Learn more about how and why"

?

[2015-09-08 13:47] LindsayYoung commented on #1177
Adding a rate limiting and page limit explanation would be good too, we don't explain that and it is  confusing users. It is a quick tweak that I can add today.

[2015-09-08 19:23] onezerojeremy opened #1183 "Usability Testers were not able to find Super PACs support/oppose information"
In usability testing, users did not associate the activity of Super PACs in support or opposition of candidates with those candidates given election. They did not select "Search by Zip Code", or click "All Independent Expenditure Committees active 2015-2016" (though I think the later is not working)

First and foremost, they attempted to find this information on the browse committees page, but wer

[2015-09-08 19:33] onezerojeremy opened #1184 "So users can find the election search, redesign search to be more prominent"
Some (~ half) of the users we tested were not able to successfully navigate from the home page to the election search.

There are probably a couple things going on here: the usability task prompt “find people running for office near you” requires the user to think of “near” as indicating location, and then to infer that zip code is a way to find candidates based on their location (instead, these u

[2015-09-08 19:41] noahmanger commented on #1169
Are we going with the "linking just a few words" approach too?

[2015-09-08 19:46] onezerojeremy opened #1185 "Super PACs check box on browse committees is often obscured by the PACs dropdown"
Super PACs check box on browse committees is often obscured by the PACs dropdown, where people often look for it.

URL: https://fec-dev-web.18f.gov/committees?cycle=2016&cycle=2014&cycle=2012

![superpacs](https://cloud.githubusercontent.com/assets/474916/9745505/410b8ee8-5640-11e5-8edb-d6fc6528e09a.gif)
It's also not clear to users that Super PACs are not available in the committees drop down.

R

[2015-09-08 23:45] jenniferthibault commented on #1183
@onezerojeremy can you explain this first part a bit more?

To be honest, I don't even know how I would go about doing this task. We don't use the words "super PAC" anywhere. If I can unravel what we're trying to lead people towards, hopefully i can help with a better solution!

[2015-09-09 00:21] leahbannon commented on #1169
Yes --> that + very prominent "Learn how to" at the top (and we'll test to see if that worked)

[2015-09-09 00:23] leahbannon commented on #1184
Related: https://github.com/18F/openFEC-web-app/issues/545

[2015-09-09 00:28] onezerojeremy commented on #1183
The idea with the task was that people hear about super PACs (through the media, etc), and we now show who they are supporting and opposing [here](https://fec-dev-web.18f.gov/elections/president/2016/?tab=spending), which is awesome.

I think this probably calls for a synchronous ixd discussion; but the short answer is that I think you're right, we don't use the words super PAC very often (it appe

[2015-09-09 00:43] Solomon opened #1187 "Bug: Error when specifying cycle for committee C00315622"
When hitting the api with this committee: C00315622

/committee/{committee_id}/totals gives a result for the 1996 cycle

However, when I add the 1996 cycle to the api request, it fails.

Doesn't work: `https://api.open.fec.gov/v1/committee/C00315622/totals?api_key={key}&cycle=1996&page=1&per_page=20`

Shows results for 1996: `https://api.open.fec.gov/v1/committee/C00315622/totals?api_key={key}&pag

[2015-09-09 01:34] emileighoutlaw commented on #1184
I think we're decided on "Search elections by location" for now!

[2015-09-09 03:24] noahmanger commented on #1185
Nice catch! I think it makes sense to have it broken out form regular PACs, but I like the idea of maybe moving it above. I could also see moving all of the various committee type filters above the "party" and "state" filters, which really are less important I think.

[2015-09-09 03:47] noahmanger commented on #1180
How's this look?
![screen shot 2015-09-08 at 8 46 44 pm](https://cloud.githubusercontent.com/assets/1696495/9752920/c1067ce6-566a-11e5-89b7-4096a583c973.png)

[2015-09-09 13:56] emileighoutlaw commented on #1183
Ohh. Interesting though.

Something like:
_Super PAC spending supporting and opposing this candidate_
_Candidates this Super PAC supports and opposes_

?

It seems like the "and" construction is right to me, because they're shown together on the outside spending page.

[2015-09-09 14:15] #1180 closed

[2015-09-09 14:26] LindsayYoung commented on #1183
I would love outside spending on the candidate pages and if this conclusion is supported by user research, I think that makes the case stronger.

I also think that a more prominent link from the candidate page to the election page would also help people find that great page.

[2015-09-09 14:49] onezerojeremy commented on #1185
Moving super pacs above the committee dropdown sounds like it'll help immensely.

We don't yet have any usability testing data to suggest moving all the committees up above state is necessarily warranted; my uninformed guess is that the committee filter is more advanced and that lay users will more likely be looking by state and party than committee type, so I guess I'd advocate for waiting until

[2015-09-09 14:53] LindsayYoung commented on #1187
Thanks for reporting @Solomon

I am seeing the same problem on reports.  It is returning a 404. The same issue exists on dev as well.

[2015-09-09 15:00] LindsayYoung commented on #1187
Filtering by 1998 works, but not 1996.

[2015-09-09 16:00] noahmanger commented on #1185
Makes sense to me. Assigning to me to move.

[2015-09-09 16:12] LindsayYoung commented on #1028
Remaining things
 - [ ] make sure the pdfs without links are not being linked
 - [ ] cycle select on committee tab

[2015-09-09 16:27] leahbannon commented on #1184
Addressed in https://github.com/18F/openFEC-web-app/issues/545

[2015-09-09 18:53] #1185 closed

[2015-09-09 21:25] LindsayYoung commented on #1028
This is good, except for the cycle select, I am moving that to a new issue 18F/openFEC-web-app#612

[2015-09-09 21:25] #1028 closed

[2015-09-09 23:13] noahmanger commented on #1169
Ok, how's this look?

![screen shot 2015-09-09 at 4 13 08 pm](https://cloud.githubusercontent.com/assets/1696495/9776488/b59ae74a-570d-11e5-9791-866e617a6f1f.png)

[2015-09-09 23:47] leahbannon commented on #1169
When I look at this, my eyes keep going straight to the checklist. And when I read "Get a tax ID" I think that's what will happen when I click on the link.

What if we did something that removed the "get a" action language? Like...

Learn more about things you will need:
- [ ] A [tax ID]()
- [ ] A [bank account]()
- [ ] A [treasurer]()
- [ ] Information about registering as a [candidate]() _link t

[2015-09-10 00:06] leahbannon commented on #573
closing in favor of https://github.com/18F/openFEC-web-app/issues/373 which has more recent code link

[2015-09-10 00:06] #573 closed

[2015-09-10 14:15] LindsayYoung commented on #1158
So the second entry is really net operating expenditures, which will often be the same. I'll add "net" to the label.

[2015-09-10 15:20] #1158 closed

[2015-09-10 16:36] LindsayYoung commented on #1187
Ok, It seems like the committee doesn't have a committee designation entry for 1996.

[2015-09-10 23:41] noahmanger commented on #1169
The main issue here was resolved by https://github.com/18F/fec-cms/pull/40

We can keep wordsmithing separately.

[2015-09-10 23:41] #1169 closed

[2015-09-10 23:41] noahmanger commented on #1153
@LindsayYoung and I chatted about her picking this up. I know there's stuff from usability testing and other discussions with @onezerojeremy and @jenniferthibault . I'm fine if you three sort it out. I don't think I have anything further to offer.

[2015-09-10 23:43] #848 closed

[2015-09-10 23:48] noahmanger commented on #1154
This table no longer has filters. Closing.

[2015-09-10 23:48] #1154 closed

[2015-09-11 14:49] LindsayYoung opened #1189 "clean data"
Delete P60012184, the candidate is expired but still showing up in our systems.

[2015-09-11 16:23] LindsayYoung commented on #1153
So we are all on the same page. I am adding the coverage dates and linking to the forms in the browse view that make up that total.

![screen shot 2015-09-11 at 12 13 57 pm](https://cloud.githubusercontent.com/assets/4406333/9820072/84eb66a6-587f-11e5-97c7-f1e03b8f06ca.png)

@onezerojeremy can you confirm that this will be within the range of what user expect?

[2015-09-11 23:53] onezerojeremy commented on #1153
Sorry for the delay, just getting caught up on email/github messages.

I do not think linking numbers directly to PDF forms is expected, and would probably advocate against it on this page. My sense is that looking at the PDF forms is more of a power user move.

I think for now, I'd say let's hold off on linking at all.

[2015-09-13 23:06] pulkitnandan opened #1191 "Poor Documentation"
May be only me but this thing doesn't works, none of the installations works and nowhere it is explained why to go through such installations, where is the rest api? api.bla bla bla says rest api at api.v2 while suffix works for v1,  I need to track my network request on wireshark to get that.

[2015-09-14 13:52] LindsayYoung commented on #1153
I wan't thinking of linking to the pdf either, I was suggesting the filings browse view with the documents that make up that total.  At one time we had view data icons planned to link to things like that. At some point, I would like to have links that take users to underlying data for our totals.  Since there is confusion, I won't start this now. Thanks!

[2015-09-14 13:56] LindsayYoung commented on #1191
Sorry about the typo, the API is on v1 We will fix that.

[2015-09-14 14:38] leahbannon opened #1193 "disclaimer: election pages vs. actual candidates really running"
I think we should consider some kind of disclaimer that helps explain why candidates might be listed on an election page, when we know in real life that they did not actually run. I think this could cause non-experts to question the veracity of the site. Example: [2012 New York Senate Race](https://fec-dev-web.18f.gov/elections/senate/NY/2012/) Also, I've received some questions about whether or n

[2015-09-14 14:52] LindsayYoung commented on #1193
That page is not broken out by primary/general

[2015-09-14 14:55] leahbannon commented on #1153
Ooh I like that idea, Lindsay

[2015-09-14 15:13] PaulClark2 commented on #1193
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "[openFEC] disclaimer:
election pages vs. actual candidates really running (#1193)" sent on
9/14/2015 10:38:40 AM.

This is the only notification you will

[2015-09-14 15:14] PaulClark2 commented on #1193
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC]
disclaimer: election pages vs. actual candidates really running (#1193)"
sent on 9/14/2015 10:52:32 AM.

This is the only notification you

[2015-09-14 15:59] jwchumley commented on #1193
I was just looking at the same thing. Barbara Mikulski is another example. If you notice on our house and senate map she doesn't show up. We have a table in which we enter candidate id and election year for candidates that have filed a form 2 for a given election but for reasons such as retirement should not show up on the map. Maybe we should export that to you if we haven't done so.  At this poi

[2015-09-14 16:11] LindsayYoung commented on #1193
I don't think we have that. What is that table called?

[2015-09-14 16:35] jwchumley commented on #1193
CAND_INACTIVE. I'll check with Rohan about exporting it. We manually insert rows when needed.

[2015-09-14 16:36] LindsayYoung commented on #1191
Thank you for reporting that we have deployed a fix. Please tell us if there are any other things we can do to improve our documentation.

h/t to @jmcarp for figuring out the swagger compiling issue!

[2015-09-14 16:36] #1191 closed

[2015-09-14 16:40] LindsayYoung commented on #1193
I am seeing a cand_inactive_flg in dimcandstatusici. Can we use that?

[2015-09-14 16:46] emileighoutlaw commented on #1193
@leahbannon: Great thought, and I like your proposed language.

How would you feel about breaking it down into three sentences for lower-level readers (who are more likely to exist among the non-experts, I think):

"Candidates are listed based on the paperwork they filed with the FEC. This data doesn't reflect whether candidates won their party's primary. This data doesn't reflect if candidates de

[2015-09-14 16:51] jwchumley commented on #1193
Yes. It looks like it matches our cand_inactive table exactly.

From:   Lindsay Young <notifications@github.com>
To:     18F/openFEC <openFEC@noreply.github.com>
Cc:     jwchumley <jchumley@fec.gov>
Date:   09/14/2015 12:40 PM
Subject:        Re: [openFEC] disclaimer: election pages vs. actual
candidates really running (#1193)

I am seeing a cand_inactive_flg in dimcandstatusici. Can we use that?

[2015-09-14 16:52] PaulClark2 commented on #1193
@leahbannon I don't think we should be trying to track primary election winners and losers.   If the candidate ran for any election during the two-year period they should be included.  They did run.   @amykort @jwchumley

[2015-09-14 16:55] jwchumley commented on #1193
I agree but I think we should exclude those who have filed a 2016 form 2 and since then have removed themselves from the race. Like Mikulski for instance. This matches how we handle it in the HS map.

[2015-09-14 16:56] PaulClark2 commented on #1193
@leahbannon @emileighoutlaw @LindsayYoung @amykort @jwchumley Is the purpose of the "election page" to show a list of candidates that filed a Statement of Candidacy for a particular race and election or is the purpose something else?   Do we want to exclude candidates that have died, retired, resigned or have announced they will not seek election even though they have filed a F2 for the election?

[2015-09-14 17:01] LindsayYoung commented on #1193
For the election pages, the purpose is for people to understand what is going on in a race. So, I think it would make more sense to make those pages reflect-- as best as we can-- that those candidates are really running. If people are interested in who filed what forms, we have the filing view for that.

[2015-09-14 17:04] PaulClark2 commented on #1193
Then I think using the cand_inactive_flg to exclude certain candidates makes sense

[2015-09-14 17:14] PaulClark2 commented on #1193
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC]
disclaimer: election pages vs. actual candidates really running (#1193)"
sent on 9/14/2015 12:51:29 PM.

This is the only notification you

[2015-09-14 17:14] PaulClark2 commented on #1193
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC]
disclaimer: election pages vs. actual candidates really running (#1193)"
sent on 9/14/2015 12:11:06 PM.

This is the only notification you

[2015-09-14 17:14] PaulClark2 commented on #1193
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC]
disclaimer: election pages vs. actual candidates really running (#1193)"
sent on 9/14/2015 12:46:05 PM.

This is the only notification you

[2015-09-14 17:14] PaulClark2 commented on #1193
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC]
disclaimer: election pages vs. actual candidates really running (#1193)"
sent on 9/14/2015 12:35:31 PM.

This is the only notification you

[2015-09-14 17:14] PaulClark2 commented on #1193
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC]
disclaimer: election pages vs. actual candidates really running (#1193)"
sent on 9/14/2015 1:01:12 PM.

This is the only notification you w

[2015-09-14 17:14] PaulClark2 commented on #1193
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC]
disclaimer: election pages vs. actual candidates really running (#1193)"
sent on 9/14/2015 12:55:20 PM.

This is the only notification you

[2015-09-14 17:14] PaulClark2 commented on #1193
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC]
disclaimer: election pages vs. actual candidates really running (#1193)"
sent on 9/14/2015 11:59:30 AM.

This is the only notification you

[2015-09-14 17:14] PaulClark2 commented on #1193
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC]
disclaimer: election pages vs. actual candidates really running (#1193)"
sent on 9/14/2015 12:40:21 PM.

This is the only notification you

[2015-09-14 18:16] jwchumley opened #1197 "In order to help users learn the size of the data set through the relative scale of the in-line bars, consider basing the scale on the whole data set, not just the page visible."
The bars that represent relative size on the occupation tab here:
https://fec-stage-web.18f.gov/committee/C00000422?cycle=2016&tab=receipts

change based on the page. So in the example above a $3000 row on page 1 has a tiny bar because of a very large bar in row #1. On page 2 a $1500 row has a huge bar because it is the biggest on the page.  I think the bars should be based on the largest in the s

[2015-09-14 18:24] jwchumley opened #1198 "In order to show users the filing information most helpful to them, decide which columns to show and sort in the filings tab."
The filings tab is an odd place to have "total Independent Expenditures" as a column. Most filing entities don't report those. Only form 3X, form 5 and form 24 filers. Also, the choice to sort by amount columns is unusual here. Maybe not a bad idea but not at the cost of sorting by ending coverage date.

I would think document type, Receipt Date and Ending coverage dates would be the three most im

[2015-09-14 20:05] #1193 closed

[2015-09-14 21:15] PaulClark2 commented on #1193
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC]
disclaimer: election pages vs. actual candidates really running (#1193)"
sent on 9/14/2015 4:05:34 PM.

This is the only notification you w

[2015-09-14 21:20] jmcarp opened #1200 "In order to prevent users from seeing stale data, email results of nightly import / refresh to dev team on complete / fail."
At the moment, we aren't being notified when the nightly data import tasks complete (or, occasionally, fail). I propose sending an email with logs to the dev team after each import so we can more easily detect and fix errors.

[2015-09-14 21:25] #1146 closed

[2015-09-14 22:48] leahbannon commented on #1200
good idea

[2015-09-14 23:10] leahbannon opened #1201 "Are we clear about the role of campaigns in funding?"
I bet a lot of people wonder, "How much money has x's campaign raised?" We state that "Candidates receive and spend money through committees," on the candidate page, but I'm not sure that makes it clear that this is how a candidate's campaign is funded and that as far as the FEC is concerned, there isn't really a campaign, there's a Principal Committee.

(Thoughts I want to get out of my head to d

[2015-09-14 23:16] noahmanger commented on #1198
I agree. We should be sorting by coverage date here. I think we used to have it and maybe it broke in a recent update.

@LindsayYoung what do you think about the IE question? Can we infer from the type of committee whether or not it makes sense to show this column?

[2015-09-15 12:24] PaulClark2 commented on #1198
@jwchumley @noahmanger @LindsayYoung @jmcarp

Agreed the columns currently being displayed on the filings search result pages are not useful.  We should not display Total receipts, Total disbursement or Total independent expenditures on the filings tab.  Page counts and image numbers are much more useful here.

![untitled](https://cloud.githubusercontent.com/assets/11817734/9876223/6bd6332a-5b82-1

[2015-09-15 13:39] LindsayYoung commented on #1198
Form a reporter's standpoint, the totals are handy for sorting to find the biggest filings in a given time period.

We can add sorting to coverage date- we just need to add an index and tweak the code.

I would still like to add the preview panes for more information for this view.

[2015-09-15 14:02] jwchumley commented on #1198
The number of pages identifies the larger reports too and takes up a lot less space. The columns in our current filings view have been pretty carefully worked out over time to fill the needs of the internal users. Adding columns OK. I don't think leaving out existing columns is a good idea.

![image](https://cloud.githubusercontent.com/assets/12615919/9878464/d3fb9644-5b90-11e5-93d7-bba5e9e88fd1.p

[2015-09-15 14:24] PaulClark2 commented on #1198
I agree with @jwchumley .  If we do add financial columns we should include "total receipts," "total disbursements," "debts owed" and "cash on hand."  If we include financial columns on the filings page, we should not include "total independent expenditures."

[2015-09-15 23:35] jmcarp commented on #1198
As a temporary fix, we're hiding the independent expenditures column as of https://github.com/18F/openFEC-web-app/pull/675. Longer term, let's decide which columns to show. We're planning on adding detail overlays for more form types, so eventually we'll be able to click on any row in the filings table for a more complete representation of the filings. Let's continue discussion here.

[2015-09-16 01:34] #1189 closed

[2015-09-16 04:19] jmcarp opened #1203 "Receipt aggregates by contributor type are overestimated"
Aggregated receipts by contribution type (individual vs non-individual) often add up to far more than the candidate's reported totals. For example, Obama for America's total receipts in 2011-12 were about $740m, but the sum of its individual and non-individual aggregates for the same period are over $1.4b. I'm guessing this is because we're double-counting some earmarked contributions. We're using

[2015-09-16 04:22] jmcarp opened #1204 "Improve performance on receipts and disbursements queries"
Some queries against the receipts and disbursements tables are slower than expected. Performance should be improved here. Slow queries may include the following:

* [ ] Queries by state or city for rare states and cities
* [ ] Full-text queries against disbursement purpose
* [ ] Full-text queries combined with other filters

I'd like to get all of these queries, and anything else that folks find,

[2015-09-16 09:42] pulkitnandan commented on #1191
I'm stuck @ tmuxinator fec-local where it fails with error.
In installation steps it doesn't mentions to install packages virtualenv virtualenvwrapper using pip or directory from ubuntu's repository, neither that tmuxinator is to be installed from gem.

Can this github repo be used to setup an local api and thus making unlimited calls to the api.
I'm currently trying to create a system that will n

[2015-09-16 13:51] noahmanger opened #1205 "Double check coverage dates"
Coverage dates on candidate pages seem to be the beginning coverage date and ending coverage date from the last report, rather than the beginning coverage date from the first report in the period.

[2015-09-16 14:10] LindsayYoung commented on #1191
You can set up the API with a subset of test data. If I am understanding you correctly, that doesn't sound like what you want.

The good news it that you can make 1,000 calls an hour. You are limited to 100 results per page to keep the API from crashing.

We are happy to help optimize your queries if you are having issues. Additionally, the FEC provides [bulk data](http://www.fec.gov/finance/discl

[2015-09-16 14:51] jmcarp commented on #1205
Fixed in 9a330b82ae193b3785bc77d22c4206da0f9d034a. Deploying to develop now.

[2015-09-16 14:51] #1205 closed

[2015-09-17 14:08] noahmanger commented on #1183
New issue for implementing IEs on candidate pages here: https://github.com/18F/openFEC-web-app/issues/700

New issue for figuring out a solution to showing "other spending" on committee pages here: https://github.com/18F/openFEC-web-app/issues/701

[2015-09-17 14:08] #1183 closed

[2015-09-17 14:23] LindsayYoung commented on #1203
I think we should get contributor type from the summary data instead of adding the line items.

[2015-09-17 14:40] jmcarp commented on #1203
@LindsayYoung that's an option for individual vs non-individual contributions, but not for aggregated receipts by committee. Which is a good start. Can we infer non-individual contributions by subtracting individual contributions from total contributions, or do we have to account for details like amount of refunded individual contributions?

[2015-09-17 14:51] LindsayYoung commented on #1203
We could take this as an opportunity to give some better breakdowns. Individual giving is important but we could also show loans, transfers, candidate contributions, party contributions etc.

[2015-09-17 15:01] LindsayYoung commented on #1203
To be clear, we don't need to add the other types before launch.

[2015-09-17 16:04] jwchumley commented on #1203
I started looking at this when you first posted it and have gotten side tracked. I think one big thing might be line 17 transfers. They have similar issues to earmarks. A single transfer for a presidential candidate may have a value in the tens of millions and have thousands of supporting items thus pretty much doubling the total. I'll post some examples in a few minutes.

[2015-09-17 17:38] jwchumley commented on #1203
@jmcarp : Are the inflated numbers coming from line 18 (presidential)?

There are multiple uglinesses going on here. First, transfers from joint fundraisers will pretty much never add up. In the case below there was a lump sum transfer of $28,500,000 from Obama Victory Fund.  This probably was devided between Obama for America and the DNC so the total amount raised isn't reflected there. They also

[2015-09-17 17:47] PaulClark2 commented on #1203
I knew we had some words to explain this.  Christian helped me find them:

Pages 137-144 of the FEC's Campaign Guide for Congressional Candidates and Committees: http://www.fec.gov/pdf/candgui.pdf:

"Before conducting a joint fundraiser, all participants must enter into a written agreement that identifies the joint fundraising representative and states the allocation formula—the amount or percenta

[2015-09-18 14:03] #1170 closed

[2015-09-18 14:21] LindsayYoung commented on #1204
Sorting by amount takes a while too

[2015-09-18 14:47] LindsayYoung opened #1208 "Contributor_occupation in sched A broken"
give a server error on dev, work on production.

[2015-09-18 14:51] LindsayYoung commented on #1208
This works for me locally on the dev branch.

[2015-09-18 15:27] jmcarp commented on #1208
Looks like we need to rebuild the fulltext table. Will close when that's done.

[2015-09-18 16:43] noahmanger commented on #1208
Just curious: does this issue fit any sort of pattern? Or is it just a random glitch. Trying to think of how we can systematically catch / prevent it in the future.

[2015-09-18 17:36] LindsayYoung opened #1209 "First file date for form 5 only filers"
It looks like we have no electioneering committees in the browse view, because we are automatically sorting by first file date on the F1 and not all committees have F1. We should look at the receipt date from the filings table.

[2015-09-21 14:59] jmcarp commented on #1147
@PaulClark2: Has the DBA team gotten back to you about this?

[2015-09-21 15:12] jmcarp opened #1212 "Some totals variables are too high"
A handful of year-to-date and period-to-date variables from reports are being summed in our totals views, leading to large overestimates of those values. Examples include net receipts and net operating expenditures. These values don't show up on the webapp but are available through the API.

[2015-09-21 16:16] jenniferthibault commented on #1178
:+1:

[2015-09-21 16:16] #1178 closed

[2015-09-21 16:25] PaulClark2 commented on #1147
No  ... not yet

[2015-09-21 17:29] noahmanger commented on #1153
What's the status on this? Have we resolved it?

[2015-09-21 17:40] leahbannon opened #1214 "Need to write SLA w/ FEC"

[2015-09-21 17:41] leahbannon commented on #1214
also escalation protocol

[2015-09-21 17:42] leahbannon opened #1215 "In order to accept large data sets during election season spike, we need to meet w/ FEC"

[2015-09-21 17:43] leahbannon opened #1216 "Add banner to dev and staging denoting them as such"

[2015-09-21 17:49] leahbannon opened #1217 "Social media metadata needed for CMS sites"
This is from my notes but I don't remember what it means. @jmcarp do you? :grin:

[2015-09-21 17:53] LindsayYoung commented on #1153
I added the link to the source forms as a line that says view source forms with a link18f/openFEC-web-app#710 That seems to be merged but I am not seeing it on dev.

[2015-09-21 18:07] LindsayYoung commented on #1217
I think this was for social media badges.

[2015-09-21 18:13] leahbannon commented on #1217
Ah yes! Thanks!

[2015-09-21 19:25] noahmanger commented on #1153
Looking good.

[2015-09-21 19:25] #1153 closed

[2015-09-21 19:43] leahbannon commented on #1216
- [ ] @emileighoutlaw write content
- [ ] @jenniferthibault design
- [ ] @noahmanger implement

[2015-09-22 14:11] #1209 closed

[2015-09-22 14:24] #1112 closed

[2015-09-22 17:19] jmcarp commented on #1102
The aggregates are a little more complicated than that--folks would need to be able to filter by line number, memo code, memo text, receipt type, and amount to reproduce the filters we're using. It might be simpler to expose our `is_individual` column instead. This would be straightforward to add to the proposed itemized refactor at #1218.

What do you think @LindsayYoung? I can add to #1218 if th

[2015-09-22 17:45] LindsayYoung commented on #1102
Exposing is_individual seems like a good solution. We should also take the opportunity to document the logic on that.

[2015-09-22 21:17] leahbannon opened #1222 "committees button too small, cutting off word"
found here https://fec-dev-web.18f.gov/committee/C00575050?cycle=2016

<img width="743" alt="screen shot 2015-09-22 at 2 13 20 pm" src="https://cloud.githubusercontent.com/assets/4323988/10031906/a68fec1a-6134-11e5-9e3c-858e0d7e4105.png">

[2015-09-22 21:23] leahbannon opened #1223 "So users don't lose their place on the page, we won't jump to the top when closing glossary pane"
This is not a high priority, but we should stop that.

[2015-09-23 20:08] leahbannon opened #1225 "possible gov shutdown language"
@emileighoutlaw whaddya think?

[2015-09-23 20:53] emileighoutlaw commented on #1225
Love it. Tiny notes:

NOTICE: Due to the lapse in [government funding](link to appropriate OPM release about shutdown), the information on this website may not be up to date, and transactions submitted via the website may not be processed. FEC and 18F won't be able to respond to inquiries until the shutdown ends.

^^Can we say shutdown? I think people will understand that more than "until appropri

[2015-09-23 22:16] jmcarp opened #1226 "Identify amended Schedule E transactions"
Unlike the Schedule A and B tables, which are updated in place when amendments are filed, the Schedule E table may include multiple amended versions of the same transaction. That's why @noahmanger noticed the same PAC both supporting and opposing Hillary Clinton in #742. @paulclark2 explained that this happening because Schedule E transactions that are reported on 24- and 48-hour reports haven't b

[2015-09-23 22:56] leahbannon commented on #1225
Looks good to me, but I'm thinking we can actually get rid of the "transactions" language because people won't be filing anything with beta.fect.gov. How about:

[2015-09-23 23:55] #1212 closed

[2015-09-24 04:47] jmcarp opened #1228 "In order to improve query performance, evaluate partitioning on large tables."
@arowla has suggested that partitioning should speed up writes, and possibly also reads, on our large tables, `sched_a` and `sched_b`. I'm optimistic that this will improve performance, but also uncertain about read performance on queries that span many (or all) partitions, such as a query for the 30 largest contributions:
[code]

In the best case, this will have to run a subquery for each partiti

[2015-09-24 13:14] emileighoutlaw commented on #1225
Awesome! Looks good to me.

On Wed, Sep 23, 2015 at 6:56 PM, Leah Bannon <notifications@github.com>
wrote:

[2015-09-24 17:50] leahbannon commented on #1225
@amykort --> what do you think about this for the warning that we discussed if there's a shutdown?

[2015-09-24 18:17] AmyKort commented on #1225
Looks good to me.

[2015-09-25 00:08] dwillis opened #1231 "Change incumbent_challenge and incumbent_challenge_full to use challenger"
The Candidate response includes two attributes, `incumbent_challenge` and `incumbent_challenge_full`, which represent the status of the candidacy (the values being I for Incumbent, C for Challenger and O for Open Seat). Since the full value for C is Challenger, for consistency's sake I think the attributes should be `incumbent_challenger` and `incumbent_challenger_full`.

[2015-09-25 02:36] LindsayYoung commented on #1231
Thanks for the suggestion, it makes sense. There are a few other naming inconsistencies we want to tackle too.

[2015-09-25 20:21] #953 closed

[2015-09-25 20:34] #1106 closed

[2015-09-25 20:35] #1203 closed

[2015-09-25 20:36] #1204 closed

[2015-09-25 21:58] jenniferthibault commented on #1217
@noahmanger see https://github.com/18F/openFEC-web-app/pull/764 for images, or if you can show me where to put them, I'm glad to start a branch for this

[2015-09-25 21:59] jmcarp commented on #1208
Fixed in #1218. @noahmanger this should be something we can monitor more proactively with newrelic--I'll look into this post-launch.

[2015-09-25 21:59] #1208 closed

[2015-09-25 22:01] jmcarp commented on #1102
Added. To be clear, we currently allow filtering on the derived `is_individual` flag, not on line number, because the former is necessary to reconstruct our aggregates.

[2015-09-25 22:01] #1102 closed

[2015-09-25 22:41] jenniferthibault commented on #1217
https://github.com/18F/fec-style/pull/118 Put all the images into the FEC-style repo

[2015-09-25 22:58] jmcarp opened #1232 "Missing data on C00326801"
The July Quarterly filing for committee C00326801 (TAMMY BALDWIN FOR SENATE) reports $129,290.69 for total contributions for the period, but the `ttl_contb_per` value for the corresponding report in `facthousesenate_f3` is $0.

The original image: http://docquery.fec.gov/cgi-bin/fecimg?201507200200209270
The data in the fact table:
[code]

@paulclark2, can you take a look?
cc @LindsayYoung

[2015-09-25 23:25] jmcarp opened #1234 "To have good data, Proactively identify data errors"
So far, we've been identifying data entry errors one by one, as interested folks report them to us. This is time-consuming, and it means that data errors may be in the wild before we find and fix them. I'm wondering if we can take a few basic steps to identify data errors before users encounter them. For example, total contributions by period as reported on Form F3 is supposed to be entered as the

[2015-09-26 01:09] noahmanger commented on #964
This is still showing up this way. Because this is a data issue for a high profile candidate. I'm moving to a current sprint thing we should try to figure out ASAP.

[2015-09-26 01:34] #184 closed

[2015-09-26 01:34] #217 closed

[2015-09-26 01:34] #241 closed

[2015-09-26 01:34] #303 closed

[2015-09-26 01:34] #338 closed

[2015-09-26 01:35] #513 closed

[2015-09-26 01:35] #510 closed

[2015-09-26 01:35] #495 closed

[2015-09-26 01:36] #622 closed

[2015-09-26 01:36] #668 closed

[2015-09-26 01:36] noahmanger commented on #679
I actually still want to do this. Assinging to myself.

[2015-09-26 01:37] #786 closed

[2015-09-26 15:11] jmcarp opened #1235 "Form F11 filings have report_year set to 0"
All rows in `vw_filing_history` with `form_type` of "F11" also have `report_year` set to 0. Is this expected @paulclark2 @jwchumley? No urgency on this--we're putting in a patch to resolve a related issue on our side, and the number of relevant filings is very small.

[2015-09-26 19:09] LindsayYoung commented on #964
This would be fixed if we remove f2z from the create cycle logic.

[2015-09-26 19:11] LindsayYoung commented on #1234
I like this idea, maybe we should make a list of the biggest discrepancies and check those?

[2015-09-26 20:09] #1222 closed

[2015-09-26 22:55] PaulClark2 commented on #1235
@jmcarp Nope they should have report years.

FYI:  Form 11 only existed from 2002 to 2008.  It was a requirement of the "Millionaire's Amendment" of the BCRA.  The Supreme Court ruled the "Millionaire's Amendment" unconstitutional in 2008.

[2015-09-26 23:14] jmcarp commented on #1235
@PaulClark2 interesting! All right, sounds like we should get this fixed--does this view come from the data warehouse or someplace else? Once that's done, I'll revert the workaround that I added to our code today.

[2015-09-28 12:51] PaulClark2 commented on #964
Using statutory candidate information (re:  https://github.com/18F/openFEC-web-app/issues/785) or using linked PCCs information are possible solutions.    H. Clinton's candidate ID doesn't not have a PCC linked to it in 2000.

[2015-09-28 12:52] PaulClark2 commented on #1234
I think it's a good place to start @jwchumley

[2015-09-28 17:44] PaulClark2 commented on #1235
This has been fixed:  select * from vw_filing_history where form_type = 'F11' and report_year is null;

[2015-09-28 18:07] jwchumley commented on #1234
I'm looking at these. There are several issues. Many are simply filed with numbers that don't add up but there are several categories that we can improve.

First, on your end. We often deal with the fact that there are two places to put several of the numbers on the forms such as total contributions which appears on the detailed summary page and also on the summary page (where you are supposed to

[2015-09-29 11:49] LindsayYoung commented on #1235
Thanks Paul

On Mon, Sep 28, 2015 at 1:44 PM, Paul Clark <notifications@github.com>
wrote:

[2015-09-29 21:52] dwillis commented on #1226
I agree that handling Schedule E transactions is complicated, but I think excluding them from 24 and 48-hour reports makes the API much less useful from a timeliness standpoint. Imagine this scenario: multiple IE reports come in on the Monday before a Tuesday election, but don't get into the API until the following week.

[2015-09-30 03:11] jmcarp commented on #1226
To be clear, this issue is only talking about aggregated Schedule E data by candidate. We'll continue to include all available Schedule E transactions in the itemized view.

[2015-10-01 16:47] jenniferthibault commented on #1216
I'm not sure what these typically look like, so feel free to send examples of others, but here's one straightforward concept. The grey would distinguish it from the rest of the design, since it's not a color in our palette.

Questions in my mind: should it be fancier? more designed? what's the interaction here, and is there any desired functionality?

![screen shot 2015-10-01 at 12 44 50 pm](https

[2015-10-01 18:59] emileighoutlaw commented on #1216
I think this looks beautiful (as always) @jenniferthibault! I think the content looks good, too— but I've also never this type of banner copy before, so I'm curious if @leahbannon wants to weigh in on that piece.

[2015-10-01 20:20] LindsayYoung opened #1244 "candidate status issue"
Compare candidate status and name.

https://api.open.fec.gov/v1/candidates/?api_key=DEMO_KEY&q=obama&cycle=2012
https://fec-dev-api.18f.gov/v1/candidates/?q=Obama&cycle=2012

[2015-10-01 21:14] LindsayYoung commented on #1244
This might be a data error, rather than a logical error.

I am looking at dimcandproperties with candproperties_sk =10100408
The receipt date for that record is 2015-09-26 -- I think it should be 2011-04-04

@PaulClark2 - I think this is new I spot check that record frequently. Is it possible that the data warehouse is generating new receipt dates when data is bing fixed?

[2015-10-01 21:28] PaulClark2 commented on #1244
No, I don't think so.  9/26/15 is the correct receipt date for Obama's most recent F2.  He filed a F2 amendment on 9/26/16, docquery.fec.gov/pdf/752/201509269002783752/201509269002783752.pdf

![untitled](https://cloud.githubusercontent.com/assets/11817734/10234325/b6b087f6-6861-11e5-886f-92e13f5e91b4.png)

[2015-10-02 16:16] LindsayYoung commented on #1244
Hey Paul, thanks for looking into the Obama record. It's good to know it is not a wider issue.

It looks like there is a data problem. The record I am seeing has null cand_status and cand_ici in the dimcandproperties table.

It looks right on the dimcandstatusici table. If I remember correctly, we started off using that, but there were inconsistencies there too.

[2015-10-02 16:44] PaulClark2 commented on #1244
Not sure why.   The most recent F2 for Obama has ICI and Status information.  I entered a F2Z for both Obama and Romney to correct a name display issue.  I included the ICI and Status information in the 2Z.  Let's see if that resolves the issue in dimcandstatusici.

![untitled](https://cloud.githubusercontent.com/assets/11817734/10252115/55e629c4-6903-11e5-8b0e-8cffdccbec4f.png)

[2015-10-02 16:55] jenniferthibault commented on #1184
Re-opening this issue in favor of closing out https://github.com/18F/openFEC-web-app/issues/545 since this issue has the user research data in it, and most recent discussion.

[2015-10-02 16:55] LindsayYoung commented on #1244
Thanks Paul!

[2015-10-02 17:06] jenniferthibault commented on #1184
@noahmanger and I were just discussing a visual proposal that might help this issue. I doubt that it will solve all the problems, but I believe strongly that part of the issue is that the nav, as is, is quite low contrast in it's info hierarchy. Meaning—each sub-item looks identical to the main nav item typographically, in terms of visual spacing.

Current:
<img width="310" alt="screen shot 2015-1

[2015-10-02 20:58] noahmanger commented on #1225
We no longer need this! Closing.

[2015-10-02 20:58] #1225 closed

[2015-10-04 23:16] evankroske opened #1246 "In order to make it easier to use fec_bootstrap.sh, don't ignores command failures"
If any of the commands run by fec_bootstrap.sh fail, I think that the script should exit immediately.

- [ ] Add `set -e` to fec_bootstrap.sh.

http://www.gnu.org/software/bash/manual/bashref.html#The-Set-Builtin

[2015-10-05 01:50] pulkitnandan opened #1247 "primary/unique key in models such as filings & reports"
While trying to create a local cache for queries to api.open.fec I'm stuck to figure out a way to update my local database using the fec's schema which states no unique key for schema's such as filings. So how can my database be consistent with the fec's api one where I'm periodically querying fec's api for data and as there's no primary key, I can't update a record at my end, while I can stop dup

[2015-10-05 13:57] LindsayYoung commented on #1244
It's correct again. Thanks Paul!

[2015-10-05 13:57] #1244 closed

[2015-10-05 14:33] LindsayYoung commented on #1247
For filings,  beginning_image_number and ending_image_number are unique, as is the document's url, which is based on the beginning image number.

Hope that is helpful!

[2015-10-05 14:36] emileighoutlaw commented on #1184
Ohhh interesting! I hope this works!!

[2015-10-05 15:07] LindsayYoung opened #1248 "Snowe records confusing"
We are having issues representing data Olympia Snowe

There are a few issues,
 - Snowe doesn't show up in the 2012 election page, she filed a F2 did not run, I am not sure if this is expected behavior or not.
 - Snowe's financials don't show up for 11-12 on her candidate page. I think this is because her principal committee, changed types during the cycle.

[2015-10-05 16:49] LindsayYoung commented on #1248
I went down the wrong path earlier, this isn't a special election issue- I misremembered, she said she wouldn't run again, but didn't resign.

The 2011 entry was a filer error and later amended. I would have thought that the 2011 entry in dimcandoffice would have been expired.

[2015-10-05 18:11] PaulClark2 commented on #1248
Currently Statements of Candidacy for a specific candidate are primarily grouped by reported election year.   An F2 amendment can only amend an F2 with the same election year.  An F2 amendment cannot change the election year of a previously filed F2.

[2015-10-05 18:53] leahbannon commented on #1177
closed with #1233

[2015-10-05 18:53] #1177 closed

[2015-10-05 19:36] #1103 closed

[2015-10-05 19:41] leahbannon opened #1249 "coordinate on possible scripts to check for bad data"

[2015-10-05 19:44] noahmanger opened #1250 "Create aggregates for pre-2011 receipts and disbursements"

[2015-10-05 19:46] leahbannon commented on #1187
is this a question for @PaulClark2 ?

[2015-10-05 20:18] jmcarp commented on #1250
@paulclark2 and @jwchumley: can you recommend cutoff years for aggregated receipts / disbursements / independent expenditures? If we wind up including years with partial coverage, we'll probably also want some text explaining what's going on.

[2015-10-05 21:00] noahmanger commented on #1250
Related issue for explaining the logic around whatever cutoffs here: https://github.com/18F/openFEC-web-app/issues/809

[2015-10-05 21:39] noahmanger opened #1251 "Presidential data error"
On the election search page, we're now getting two results for US President, one of which lists Romney as the current officholder:

<img width="560" alt="screen shot 2015-10-05 at 2 08 40 pm" src="https://cloud.githubusercontent.com/assets/1696495/10294401/d5f17016-6b6e-11e5-83cb-fa5114310c67.png">

Seems to be an issue with the data as our code hasn't changed recently.

[2015-10-05 21:54] LindsayYoung commented on #1251
Hey @PaulClark2

We are seeing 2 presidents in the database because we determine who has seats by looking at who is listed as an incumbent. Here is the [sql script](https://github.com/18F/openFEC/blob/develop/data/sql_updates/create_election_outcome_view.sql) that calculates that.

Romney's most recent F2Z lists him as an incumbent, can you change that please?

Here it is on the staging server:
[c

[2015-10-05 22:14] PaulClark2 commented on #1251
SUB_ID | CHG_DEL_ID | FORM_TP | CAND_ID | CAND_ICI | PROCESSING_STATUS
-------|------------|---------|---------|----------|------------------
1100220150017909407 | | F2ZA |P80003353 | I| 12
1100520150017922713 | 1100220150017909407 | F2ZA | P80003353 | C | 2

[2015-10-06 13:14] pulkitnandan commented on #1247
Oh Ok. Yes it solves my issue.

Thanks

[2015-10-06 13:29] PaulClark2 commented on #1250
I couldn't attach the spreadsheet so I sent it by email.   For independent expenditures, I labeled the column all filers and that means all Form 3X and Form 5 regular reports (not 24-hour and 48-hour reports of independent expenditures)

[2015-10-06 14:03] PaulClark2 commented on #1251
I entered this change transaction too late yesterday.   We won't see this change until Wednesday morning.

[2015-10-06 14:16] jmcarp commented on #1250
Thanks, Paul! My main question (for everybody involved) is whether we want to build aggregates for election cycles for which we only have partial data. For example, we have all itemized contributions from 2006, electronic and coded paper filings from 2002-2005, and only coded transactions before that. So aggregates from 2005-2006 will have complete coverage for some of the period and partial cover

[2015-10-06 14:45] LindsayYoung commented on #1250
I think starting aggregates with the 2008 cycle seems the reasonable, low-risk thing to do.

It would be nice to show the 2002 - 2006 cycle for just the electronic and coded paper groups, but unless there is a sure way to separate them from the 2006-only records, it might be a bad idea.

[2015-10-06 16:12] LindsayYoung commented on #1247
That shouldn't happen, we will look into the cause of that.

[2015-10-06 16:28] noahmanger commented on #1250
Yeah, I agree that it's best to be as homogenous as possible, so limiting aggregates to only cycles where we have complete data. My hunch is it's easier to explain "we don't have subtotals for these because the data was reported differently" than it is to explain "these aggregates are partially true". Or at the very least, the former has lower risk than the latter as we're not giving people incomp

[2015-10-06 16:41] PaulClark2 commented on #1250
I agree with the three of you.  We should focus on creating aggregates for 2007-2008 to 2015-2016

[2015-10-06 18:22] PaulClark2 commented on #1187
Is this still an issue?   I see a committee designation for C00315622, it's "P."   Am I looking in the wrong tables?

select d.cmte_dsgn, d.* from dimcmtetpdsgn d where cmte_sk = 10033040;
select l.cmte_dsgn, l.* from DIMLINKAGES l where cmte_sk = 10033040;

select * from dimcmte where cmte_id= 'C00315622';
select  * from DIMCMTEPROPERTIES d where cmte_sk = 10033040;

[2015-10-06 19:49] LindsayYoung commented on #886
We have first file date

[2015-10-06 19:49] #886 closed

[2015-10-06 20:15] #159 closed

[2015-10-06 20:16] LindsayYoung commented on #250
The underlying form on this is terrible, I would still like to do it, but it would be more work. :/

[2015-10-06 20:19] LindsayYoung commented on #266
We have better date filtering, but we don't use "since" I am OK closing this

[2015-10-06 20:22] LindsayYoung commented on #381
Add something like "updated nightly"

[2015-10-06 20:22] LindsayYoung commented on #382
This would be nice in the future

[2015-10-06 20:24] LindsayYoung commented on #450
I think we added idx to places with this problem.

[2015-10-06 20:24] #450 closed

[2015-10-06 20:25] #546 closed

[2015-10-06 20:25] #591 closed

[2015-10-06 20:25] #664 closed

[2015-10-06 20:26] LindsayYoung commented on #667
@jmcarp do you remember if we did this?

[2015-10-06 20:27] #697 closed

[2015-10-06 20:29] LindsayYoung commented on #737
Thanks @jenniferthibault I love the link and the picture! It is hard to make an API visually compelling.

[2015-10-06 20:29] #737 closed

[2015-10-06 20:33] LindsayYoung commented on #772
I am ok with condensing the heading text because we have so little room, but I see the case to be made for standardization.

@noahmanger should we close this?

[2015-10-06 20:33] #776 closed

[2015-10-06 20:48] LindsayYoung commented on #1014
We have this, it could use some work and it is not documented.

[2015-10-06 20:50] #955 closed

[2015-10-06 20:52] LindsayYoung commented on #1141
This now has the tooltip explainer.

[2015-10-06 20:52] #1141 closed

[2015-10-06 21:00] LindsayYoung commented on #1147
So following up on this. There are now no null report_years, so that is great. But I am still seeing 26 nulls in receipt_date.

[2015-10-06 21:00] #1166 closed

[2015-10-06 21:05] LindsayYoung commented on #1168
The money received link is a good link to click on that is the breakdowns of how much money the candidate's committee raised.

Maybe we would want to add some top-line totals to in the receipts tab and disbursements tab so this answers the question for the users?

[2015-10-06 21:16] LindsayYoung commented on #1226
To re-iterate we are not filtering out any data from the api, this is just for a methodology to figure out how much outside money is used to oppose or support certain candidates.

Filings will be available here:
   [https://api.open.fec.gov/v1/filings/?api_key=DEMO_KEY](https://api.open.fec.gov/v1/filings/?api_key=DEMO_KEY)
The line items will be available here:
   [https://api.open.fec.gov/v1/sch

[2015-10-06 21:16] #1226 closed

[2015-10-06 21:19] LindsayYoung commented on #1232
I am not seeing an update to the Baldwin error.

[2015-10-06 21:20] #1235 closed

[2015-10-06 21:24] LindsayYoung commented on #1249
this is covered in  #1234

[2015-10-06 23:23] leahbannon commented on #1216
I think the main interaction/functionality here is that a new user would notice right away that they are not on the main site. So this looks good to me -- perhaps it should be a little more noticeable?

[2015-10-07 00:23] PaulClark2 commented on #1147
I can fix these two of these and will do that tomorrow.

FORM_TP | SUB_ID | CAND_CMTE_ID | BEGIN_IMAGE_NUM | END_IMAGE_NUM | PAGES | RPT_YR | RPT_TP | RECEIPT_DT
------------ | --------------------------- | --------------------- | --------------------------- | ------------------------ | --------- | ------------ | ------------ | ----------------
F3X | 1011120120009257265 | C00465294 | 12030703229 |

[2015-10-07 00:23] PaulClark2 commented on #1147
The other 24 are really old and I'll need to ask Public Records for help finding the microfilm.

FORM_TP | SUB_ID | CAND_CMTE_ID | BEGIN_IMAGE_NUM | END_IMAGE_NUM | PAGES | RPT_YR | RPT_TP | RECEIPT_DT
------------ | --------------------------- | --------------------- | --------------------------- | ------------------------ | --------- | ------------ | ------------ | ----------------
F3 | 30329200

[2015-10-07 11:36] PaulClark2 commented on #1251
This has been resolved

![untitled](https://cloud.githubusercontent.com/assets/11817734/10336344/26b43e5e-6cc6-11e5-9b94-9ec345c15fc7.png)

[2015-10-07 12:04] PaulClark2 commented on #1232
Baldwin's 2015 Q2 still has not processed correctly.   The raw data file has multiple issues.   I'm working with EFO and the data entry contractor to get this resolved.

[2015-10-07 13:54] LindsayYoung commented on #1251
Yep, thanks!

[2015-10-07 13:54] #1251 closed

[2015-10-07 16:25] jenniferthibault commented on #1216
@emileighoutlaw I asked around and was shown the example of CAP: dev https://c2-dev.18f.gov/ vs production https://cap.18f.gov/ Based on these I tweaked the original lingo a bit, but what do you think is best?

A few more higher-contrast color options:

Black:
![menu - 0 copy 2](https://cloud.githubusercontent.com/assets/11636908/10343921/6b0c16c6-6cee-11e5-8797-d204a10b8b5d.png)

Dark red:
![menu

[2015-10-07 17:07] carodew commented on #1216
_nosing in_

I like the plain language. As for color, I think black is too easy to overlook, but I think the red is too alarming. Maybe there is a middle ground? $0.02

[2015-10-07 17:08] carodew commented on #1216
Or could you explain to the lay person "this is where we test out code and not everything may work as expected. Feel free to look around but if you really need X, check out the official site here."

Could be wordsmithed, just an idea.

[2015-10-07 17:30] jenniferthibault commented on #1216
I'm with you on the colors @carodew The bright feels like it's an error of sorts, but the dark red fits with the color palette too much on later pages. I'd like to go with this blue for now #164F85, which is in the palette so doesn't feel out of place, but isn't used in big swatches, so won't blend in to other pages.

![menu - 0 copy 4](https://cloud.githubusercontent.com/assets/11636908/10345412/

[2015-10-07 19:48] noahmanger commented on #772
I'd like to take a general look at the columns we're showing and the order we show them in throughout the app, including exploring the ability to add or remove columns. I'll create a new issue for that for us to pick up after launch.

[2015-10-07 20:05] noahmanger commented on #772
New issue: https://github.com/18F/openFEC-web-app/issues/815

[2015-10-07 21:05] jmcarp commented on #1234
@PaulClark2 and @jwchumley: Could you describe what kind of automated checks RAD or other teams are already doing on the data, and if there are differences in checking between the Oracle DB and the DW? Sometimes it seems like one database has the right data while the other doesn't.

What I'm imagining here is a set of sanity checks that we run periodically, which would produce a digest of new data

[2015-10-07 21:35] LindsayYoung commented on #1234
Could we also check for report year, since it causes problems for committee information when it is absent.